//
// Written by Synplify Pro 
// Product Version "P-2019.09G-Beta2"
// Program "Synplify Pro", Mapper "mapgw, Build 1525R"
// Sun Jun 14 18:10:48 2020
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\/home/vagrant/gowin/SynplifyPro/lib/generic/gw1n.v "
// file 1 "\/home/vagrant/gowin/SynplifyPro/lib/vlog/hypermods.v "
// file 2 "\/home/vagrant/gowin/SynplifyPro/lib/vlog/umr_capim.v "
// file 3 "\/home/vagrant/gowin/SynplifyPro/lib/vlog/scemi_objects.v "
// file 4 "\/home/vagrant/gowin/SynplifyPro/lib/vlog/scemi_pipes.svh "
// file 5 "\/home/vagrant/workspace/verilogLeson/blink002/src/blink.v "
// file 6 "\/home/vagrant/gowin/SynplifyPro/lib/nlconst.dat "

`timescale 100 ps/100 ps
module FourDigitLedController (
  clock,
  serialClockIn,
  serialDataIn,
  serialClockLedOutR,
  serialClockLedOutB,
  serialClockLedOutG,
  digitalOutputPins,
  segmentOutputPins
)
;
input clock ;
input serialClockIn ;
input serialDataIn ;
output serialClockLedOutR ;
output serialClockLedOutB ;
output serialClockLedOutG ;
output [3:0] digitalOutputPins ;
output [7:0] segmentOutputPins ;
wire clock ;
wire serialClockIn ;
wire serialDataIn ;
wire serialClockLedOutR ;
wire serialClockLedOutB ;
wire serialClockLedOutG ;
wire [16:0] clockCounter;
wire [1:0] serialBuffer;
wire [15:0] chatteringCounter;
wire [1:1] serialFiltered;
wire [3:0] serialClockCounter;
wire [9:0] serialReg;
wire [7:0] digit0;
wire [7:0] digit1;
wire [7:0] digit2;
wire [7:0] digit3;
wire [3:3] serialClockCounter_3;
wire [3:0] digitalOutputPins_c;
wire [7:0] segmentOutputPins_c;
wire [7:0] segmentOutputPins_34;
wire [15:0] chatteringCounter_1;
wire [0:0] serialBuffer_i;
wire [1:1] serialFiltered_iso_i;
wire [7:0] segmentOutputPins_34_iv_0_0;
wire [1:1] serialClockCounter_3_0;
wire VCC ;
wire GND ;
wire serialClockLed7 ;
wire serialBuffer4 ;
wire digit0_0_sqmuxa ;
wire digit1_1_sqmuxa ;
wire digit2_1_sqmuxa ;
wire digit3_1_sqmuxa ;
wire serialClockCounter11 ;
wire un1_digitalOutputPins_i_0 ;
wire digitalOutputPins12_i_i_a2_1 ;
wire N_6_0 ;
wire clock_c ;
wire serialClockIn_c ;
wire serialDataIn_c ;
wire N_78 ;
wire N_97 ;
wire N_105 ;
wire N_109 ;
wire N_142 ;
wire N_93 ;
wire N_101 ;
wire N_113 ;
wire N_82 ;
wire N_83 ;
wire N_143 ;
wire N_89 ;
wire N_77 ;
wire N_14_0 ;
wire N_16_0 ;
wire N_18_0 ;
wire N_20_0 ;
wire N_22_0 ;
wire N_24_0 ;
wire N_26_0 ;
wire N_28_0 ;
wire N_30_0 ;
wire N_32_0 ;
wire N_34_0 ;
wire N_36_0 ;
wire N_38_0 ;
wire N_40_0 ;
wire N_42_0 ;
wire N_44_0 ;
wire N_46_0 ;
wire clockCounter_2_cry_0 ;
wire clockCounter_2_cry_1 ;
wire clockCounter_2_cry_2 ;
wire clockCounter_2_cry_3 ;
wire clockCounter_2_cry_4 ;
wire clockCounter_2_cry_5 ;
wire clockCounter_2_cry_6 ;
wire clockCounter_2_cry_7 ;
wire clockCounter_2_cry_8 ;
wire clockCounter_2_cry_9 ;
wire clockCounter_2_cry_10 ;
wire clockCounter_2_cry_11 ;
wire clockCounter_2_cry_12 ;
wire clockCounter_2_cry_13 ;
wire clockCounter_2_cry_14 ;
wire clockCounter_2_cry_15 ;
wire chatteringCounter_1_cry_0 ;
wire chatteringCounter_1_cry_1 ;
wire chatteringCounter_1_cry_2 ;
wire chatteringCounter_1_cry_3 ;
wire chatteringCounter_1_cry_4 ;
wire chatteringCounter_1_cry_5 ;
wire chatteringCounter_1_cry_6 ;
wire chatteringCounter_1_cry_7 ;
wire chatteringCounter_1_cry_8 ;
wire chatteringCounter_1_cry_9 ;
wire chatteringCounter_1_cry_10 ;
wire chatteringCounter_1_cry_11 ;
wire chatteringCounter_1_cry_12 ;
wire chatteringCounter_1_cry_13 ;
wire chatteringCounter_1_cry_14 ;
wire un1_serialClockCounter_1_axbxc0 ;
wire un1_serialClockCounter_1_axbxc2 ;
wire serialClockLed7_i ;
wire N_86_4_i ;
wire N_85_i ;
wire N_118_i ;
wire N_87_i ;
wire N_135_i ;
wire N_137_i ;
wire clockCounter10_i ;
wire m10_0 ;
wire m17_0 ;
wire un1_digitalOutputPins_i_a2_4_1 ;
wire un1_digitalOutputPins_i_a2_3_0 ;
wire digitalOutputPins11_i_i_a2_0_4 ;
wire digitalOutputPins11_i_i_a2_0_5 ;
wire serialBuffer4_8 ;
wire serialBuffer4_9 ;
wire serialBuffer4_10 ;
wire serialBuffer4_11 ;
wire digitalOutputPins13_i_i_a2_4_1 ;
wire digitalOutputPins12_i_i_a2_1_1 ;
wire clockCounter10lto16_0_a2_2 ;
wire un1_digitalOutputPins_i_a2_1 ;
wire digitalOutputPins12_i_i_a2_0 ;
wire digitalOutputPins10_i_i_a2_0 ;
wire chatteringCounter_1_s_15_0_COUT ;
wire clockCounter_2_s_16_0_COUT ;
  GSR GSR_INST (
	.GSRI(VCC)
);
// @5:67
  INV un1_serialClockCounter_1_axbxc0_cZ (
	.I(serialClockCounter[0]),
	.O(un1_serialClockCounter_1_axbxc0)
);
  INV \serialBuffer_i_cZ[0]  (
	.I(serialBuffer[0]),
	.O(serialBuffer_i[0])
);
  INV \serialFiltered_iso_i_cZ[1]  (
	.I(serialFiltered[1]),
	.O(serialFiltered_iso_i[1])
);
  INV serialClockLed7_i_cZ (
	.I(serialClockLed7),
	.O(serialClockLed7_i)
);
  LUT4 clockCounter10_i_cZ (
	.I0(N_83),
	.I1(clockCounter10lto16_0_a2_2),
	.I2(clockCounter[15]),
	.I3(clockCounter[16]),
	.F(clockCounter10_i)
);
defparam clockCounter10_i_cZ.INIT=16'h7000;
// @5:157
  LUT3 N_87_i_cZ (
	.I0(N_6_0),
	.I1(digitalOutputPins12_i_i_a2_1),
	.I2(digitalOutputPins10_i_i_a2_0),
	.F(N_87_i)
);
defparam N_87_i_cZ.INIT=8'h7F;
// @5:157
  LUT4 N_85_i_cZ (
	.I0(digitalOutputPins12_i_i_a2_1),
	.I1(clockCounter[11]),
	.I2(clockCounter[16]),
	.I3(digitalOutputPins12_i_i_a2_0),
	.F(N_85_i)
);
defparam N_85_i_cZ.INIT=16'h7FFF;
// @5:158
  LUT4 un1_digitalOutputPins_i_0_cZ (
	.I0(N_77),
	.I1(N_89),
	.I2(digitalOutputPins12_i_i_a2_1),
	.I3(clockCounter[11]),
	.F(un1_digitalOutputPins_i_0)
);
defparam un1_digitalOutputPins_i_0_cZ.INIT=16'hECCC;
// @5:157
  LUT4 N_86_4_i_cZ (
	.I0(clockCounter[15]),
	.I1(digitalOutputPins11_i_i_a2_0_4),
	.I2(digitalOutputPins11_i_i_a2_0_5),
	.I3(digitalOutputPins13_i_i_a2_4_1),
	.F(N_86_4_i)
);
defparam N_86_4_i_cZ.INIT=16'hBFFF;
// @5:157
  LUT4 N_137_i_cZ (
	.I0(N_143),
	.I1(clockCounter[11]),
	.I2(digit3[3]),
	.I3(m17_0),
	.F(N_137_i)
);
defparam N_137_i_cZ.INIT=16'hB8FC;
// @5:157
  LUT4 N_135_i_cZ (
	.I0(N_142),
	.I1(clockCounter[11]),
	.I2(digit3[4]),
	.I3(m10_0),
	.F(N_135_i)
);
defparam N_135_i_cZ.INIT=16'hB8FC;
// @5:158
  LUT4 un1_digitalOutputPins_i_a2 (
	.I0(N_78),
	.I1(digitalOutputPins11_i_i_a2_0_4),
	.I2(digitalOutputPins11_i_i_a2_0_5),
	.I3(un1_digitalOutputPins_i_a2_1),
	.F(N_89)
);
defparam un1_digitalOutputPins_i_a2.INIT=16'h8000;
// @5:158
  LUT4 digitalOutputPins12_i_i_a2_1_cZ (
	.I0(clockCounter[15]),
	.I1(digitalOutputPins11_i_i_a2_0_4),
	.I2(digitalOutputPins11_i_i_a2_0_5),
	.I3(digitalOutputPins12_i_i_a2_1_1),
	.F(digitalOutputPins12_i_i_a2_1)
);
defparam digitalOutputPins12_i_i_a2_1_cZ.INIT=16'h4000;
// @5:157
  LUT3 N_118_i_cZ (
	.I0(clockCounter[10]),
	.I1(clockCounter[14]),
	.I2(un1_digitalOutputPins_i_a2_3_0),
	.F(N_118_i)
);
defparam N_118_i_cZ.INIT=8'hEF;
// @5:157
  LUT3 digit1_1_sqmuxa_cZ (
	.I0(serialClockLed7),
	.I1(serialReg[8]),
	.I2(serialReg[9]),
	.F(digit1_1_sqmuxa)
);
defparam digit1_1_sqmuxa_cZ.INIT=8'h08;
// @5:157
  LUT3 digit3_1_sqmuxa_cZ (
	.I0(serialClockLed7),
	.I1(serialReg[8]),
	.I2(serialReg[9]),
	.F(digit3_1_sqmuxa)
);
defparam digit3_1_sqmuxa_cZ.INIT=8'h80;
// @5:158
  LUT4 un1_digitalOutputPins_i_o3_0 (
	.I0(clockCounter[10]),
	.I1(clockCounter[14]),
	.I2(un1_digitalOutputPins_i_a2_3_0),
	.I3(un1_digitalOutputPins_i_a2_4_1),
	.F(N_78)
);
defparam un1_digitalOutputPins_i_o3_0.INIT=16'h9810;
// @5:47
  LUT4 clockCounter10lto16_0_o3 (
	.I0(N_82),
	.I1(clockCounter[8]),
	.I2(clockCounter[9]),
	.I3(clockCounter[10]),
	.F(N_83)
);
defparam clockCounter10lto16_0_o3.INIT=16'h2FFF;
// @5:158
  LUT4 \segmentOutputPins_34_iv_0[2]  (
	.I0(N_6_0),
	.I1(N_93),
	.I2(digit0[2]),
	.I3(segmentOutputPins_34_iv_0_0[2]),
	.F(segmentOutputPins_34[2])
);
defparam \segmentOutputPins_34_iv_0[2] .INIT=16'hFFEC;
// @5:158
  LUT4 \segmentOutputPins_34_iv_0[0]  (
	.I0(N_6_0),
	.I1(N_101),
	.I2(digit0[0]),
	.I3(segmentOutputPins_34_iv_0_0[0]),
	.F(segmentOutputPins_34[0])
);
defparam \segmentOutputPins_34_iv_0[0] .INIT=16'hFFEC;
// @5:158
  LUT4 \segmentOutputPins_34_iv_0[6]  (
	.I0(N_6_0),
	.I1(N_113),
	.I2(digit0[6]),
	.I3(segmentOutputPins_34_iv_0_0[6]),
	.F(segmentOutputPins_34[6])
);
defparam \segmentOutputPins_34_iv_0[6] .INIT=16'hFFEC;
// @5:158
  LUT4 \segmentOutputPins_34_iv_0[7]  (
	.I0(N_6_0),
	.I1(N_109),
	.I2(digit0[7]),
	.I3(segmentOutputPins_34_iv_0_0[7]),
	.F(segmentOutputPins_34[7])
);
defparam \segmentOutputPins_34_iv_0[7] .INIT=16'hFFEC;
// @5:158
  LUT4 \segmentOutputPins_34_iv_0[5]  (
	.I0(N_6_0),
	.I1(N_105),
	.I2(digit0[5]),
	.I3(segmentOutputPins_34_iv_0_0[5]),
	.F(segmentOutputPins_34[5])
);
defparam \segmentOutputPins_34_iv_0[5] .INIT=16'hFFEC;
// @5:158
  LUT4 \segmentOutputPins_34_iv_0[1]  (
	.I0(N_6_0),
	.I1(N_97),
	.I2(digit0[1]),
	.I3(segmentOutputPins_34_iv_0_0[1]),
	.F(segmentOutputPins_34[1])
);
defparam \segmentOutputPins_34_iv_0[1] .INIT=16'hFFEC;
// @5:60
  LUT4 serialBuffer4_cZ (
	.I0(serialBuffer4_8),
	.I1(serialBuffer4_9),
	.I2(serialBuffer4_10),
	.I3(serialBuffer4_11),
	.F(serialBuffer4)
);
defparam serialBuffer4_cZ.INIT=16'h8000;
// @5:158
  LUT4 un1_digitalOutputPins_i_o3 (
	.I0(clockCounter[7]),
	.I1(clockCounter[10]),
	.I2(clockCounter[14]),
	.I3(clockCounter[16]),
	.F(N_77)
);
defparam un1_digitalOutputPins_i_o3.INIT=16'h0180;
// @5:66
  LUT3 serialClockCounter11_c4 (
	.I0(serialClockCounter[1]),
	.I1(serialClockCounter[2]),
	.I2(serialClockCounter[3]),
	.F(serialClockCounter11)
);
defparam serialClockCounter11_c4.INIT=8'h1F;
// @5:157
  LUT3 digit2_1_sqmuxa_cZ (
	.I0(serialClockLed7),
	.I1(serialReg[8]),
	.I2(serialReg[9]),
	.F(digit2_1_sqmuxa)
);
defparam digit2_1_sqmuxa_cZ.INIT=8'h20;
// @5:157
  LUT3 digit0_0_sqmuxa_cZ (
	.I0(serialClockLed7),
	.I1(serialReg[8]),
	.I2(serialReg[9]),
	.F(digit0_0_sqmuxa)
);
defparam digit0_0_sqmuxa_cZ.INIT=8'h02;
// @5:158
  LUT4 \segmentOutputPins_34_iv_0_0_cZ[7]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[16]),
	.I2(digit2[7]),
	.I3(digit3[7]),
	.F(segmentOutputPins_34_iv_0_0[7])
);
defparam \segmentOutputPins_34_iv_0_0_cZ[7] .INIT=16'hD580;
// @5:158
  LUT4 \segmentOutputPins_34_iv_0_0_cZ[1]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[16]),
	.I2(digit2[1]),
	.I3(digit3[1]),
	.F(segmentOutputPins_34_iv_0_0[1])
);
defparam \segmentOutputPins_34_iv_0_0_cZ[1] .INIT=16'hD580;
// @5:158
  LUT4 \segmentOutputPins_34_iv_0_0_cZ[6]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[16]),
	.I2(digit2[6]),
	.I3(digit3[6]),
	.F(segmentOutputPins_34_iv_0_0[6])
);
defparam \segmentOutputPins_34_iv_0_0_cZ[6] .INIT=16'hD580;
// @5:158
  LUT4 \segmentOutputPins_34_iv_0_0_cZ[2]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[16]),
	.I2(digit2[2]),
	.I3(digit3[2]),
	.F(segmentOutputPins_34_iv_0_0[2])
);
defparam \segmentOutputPins_34_iv_0_0_cZ[2] .INIT=16'hD580;
// @5:158
  LUT4 \segmentOutputPins_34_iv_0_0_cZ[0]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[16]),
	.I2(digit2[0]),
	.I3(digit3[0]),
	.F(segmentOutputPins_34_iv_0_0[0])
);
defparam \segmentOutputPins_34_iv_0_0_cZ[0] .INIT=16'hD580;
// @5:158
  LUT4 \segmentOutputPins_34_iv_0_0_cZ[5]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[16]),
	.I2(digit2[5]),
	.I3(digit3[5]),
	.F(segmentOutputPins_34_iv_0_0[5])
);
defparam \segmentOutputPins_34_iv_0_0_cZ[5] .INIT=16'hD580;
// @5:158
  LUT3 \segmentOutputPins_34_iv_0_a2_1[7]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[15]),
	.I2(digit1[7]),
	.F(N_109)
);
defparam \segmentOutputPins_34_iv_0_a2_1[7] .INIT=8'h80;
// @5:158
  LUT3 \segmentOutputPins_34_iv_0_a2_1[5]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[15]),
	.I2(digit1[5]),
	.F(N_105)
);
defparam \segmentOutputPins_34_iv_0_a2_1[5] .INIT=8'h80;
// @5:158
  LUT3 \segmentOutputPins_34_iv_0_a2_1[1]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[15]),
	.I2(digit1[1]),
	.F(N_97)
);
defparam \segmentOutputPins_34_iv_0_a2_1[1] .INIT=8'h80;
// @5:158
  LUT3 \segmentOutputPins_34_iv_0_a2_1[2]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[15]),
	.I2(digit1[2]),
	.F(N_93)
);
defparam \segmentOutputPins_34_iv_0_a2_1[2] .INIT=8'h80;
// @5:158
  LUT3 \segmentOutputPins_34_iv_0_a2_1[0]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[15]),
	.I2(digit1[0]),
	.F(N_101)
);
defparam \segmentOutputPins_34_iv_0_a2_1[0] .INIT=8'h80;
// @5:158
  LUT3 \segmentOutputPins_34_iv_0_a2_1[6]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[15]),
	.I2(digit1[6]),
	.F(N_113)
);
defparam \segmentOutputPins_34_iv_0_a2_1[6] .INIT=8'h80;
// @5:47
  LUT3 clockCounter10lto16_0_o2 (
	.I0(clockCounter[5]),
	.I1(clockCounter[6]),
	.I2(clockCounter[7]),
	.F(N_82)
);
defparam clockCounter10lto16_0_o2.INIT=8'h1F;
// @5:68
  LUT4 serialClockLed7_cZ (
	.I0(serialClockCounter[0]),
	.I1(serialClockCounter[1]),
	.I2(serialClockCounter[2]),
	.I3(serialClockCounter[3]),
	.F(serialClockLed7)
);
defparam serialClockLed7_cZ.INIT=16'h0400;
  LUT4 m10_0_cZ (
	.I0(clockCounter[10]),
	.I1(clockCounter[15]),
	.I2(digit0[4]),
	.I3(digit1[4]),
	.F(m10_0)
);
defparam m10_0_cZ.INIT=16'h135F;
  LUT4 m17_0_cZ (
	.I0(clockCounter[10]),
	.I1(clockCounter[15]),
	.I2(digit0[3]),
	.I3(digit1[3]),
	.F(m17_0)
);
defparam m17_0_cZ.INIT=16'h135F;
// @5:158
  LUT4 un1_digitalOutputPins_i_a2_4_1_cZ (
	.I0(clockCounter[7]),
	.I1(clockCounter[11]),
	.I2(clockCounter[15]),
	.I3(clockCounter[16]),
	.F(un1_digitalOutputPins_i_a2_4_1)
);
defparam un1_digitalOutputPins_i_a2_4_1_cZ.INIT=16'h0100;
// @5:158
  LUT4 un1_digitalOutputPins_i_a2_3_0_cZ (
	.I0(clockCounter[7]),
	.I1(clockCounter[11]),
	.I2(clockCounter[15]),
	.I3(clockCounter[16]),
	.F(un1_digitalOutputPins_i_a2_3_0)
);
defparam un1_digitalOutputPins_i_a2_3_0_cZ.INIT=16'h0080;
// @5:158
  LUT4 digitalOutputPins11_i_i_a2_0_4_cZ (
	.I0(clockCounter[0]),
	.I1(clockCounter[5]),
	.I2(clockCounter[8]),
	.I3(clockCounter[12]),
	.F(digitalOutputPins11_i_i_a2_0_4)
);
defparam digitalOutputPins11_i_i_a2_0_4_cZ.INIT=16'h1000;
// @5:158
  LUT4 digitalOutputPins11_i_i_a2_0_5_cZ (
	.I0(clockCounter[1]),
	.I1(clockCounter[2]),
	.I2(clockCounter[3]),
	.I3(clockCounter[4]),
	.F(digitalOutputPins11_i_i_a2_0_5)
);
defparam digitalOutputPins11_i_i_a2_0_5_cZ.INIT=16'h0001;
// @5:60
  LUT4 serialBuffer4_8_cZ (
	.I0(chatteringCounter[0]),
	.I1(chatteringCounter[1]),
	.I2(chatteringCounter[14]),
	.I3(chatteringCounter[15]),
	.F(serialBuffer4_8)
);
defparam serialBuffer4_8_cZ.INIT=16'h0001;
// @5:60
  LUT4 serialBuffer4_9_cZ (
	.I0(chatteringCounter[2]),
	.I1(chatteringCounter[5]),
	.I2(chatteringCounter[7]),
	.I3(chatteringCounter[8]),
	.F(serialBuffer4_9)
);
defparam serialBuffer4_9_cZ.INIT=16'h0001;
// @5:60
  LUT4 serialBuffer4_10_cZ (
	.I0(chatteringCounter[3]),
	.I1(chatteringCounter[6]),
	.I2(chatteringCounter[9]),
	.I3(chatteringCounter[13]),
	.F(serialBuffer4_10)
);
defparam serialBuffer4_10_cZ.INIT=16'h0001;
// @5:60
  LUT4 serialBuffer4_11_cZ (
	.I0(chatteringCounter[4]),
	.I1(chatteringCounter[10]),
	.I2(chatteringCounter[11]),
	.I3(chatteringCounter[12]),
	.F(serialBuffer4_11)
);
defparam serialBuffer4_11_cZ.INIT=16'h0001;
// @5:158
  LUT4 digitalOutputPins13_i_i_a2_4_1_cZ (
	.I0(clockCounter[9]),
	.I1(clockCounter[10]),
	.I2(clockCounter[11]),
	.I3(clockCounter[14]),
	.F(digitalOutputPins13_i_i_a2_4_1)
);
defparam digitalOutputPins13_i_i_a2_4_1_cZ.INIT=16'h0800;
// @5:158
  LUT3 digitalOutputPins12_i_i_a2_1_1_cZ (
	.I0(clockCounter[6]),
	.I1(clockCounter[9]),
	.I2(clockCounter[13]),
	.F(digitalOutputPins12_i_i_a2_1_1)
);
defparam digitalOutputPins12_i_i_a2_1_1_cZ.INIT=8'h02;
// @5:47
  LUT4 clockCounter10lto16_0_a2_2_cZ (
	.I0(clockCounter[11]),
	.I1(clockCounter[12]),
	.I2(clockCounter[13]),
	.I3(clockCounter[14]),
	.F(clockCounter10lto16_0_a2_2)
);
defparam clockCounter10lto16_0_a2_2_cZ.INIT=16'h0001;
// @5:158
  LUT3 un1_digitalOutputPins_i_a2_1_0 (
	.I0(clockCounter[6]),
	.I1(clockCounter[9]),
	.I2(clockCounter[13]),
	.F(un1_digitalOutputPins_i_a2_1)
);
defparam un1_digitalOutputPins_i_a2_1_0.INIT=8'h40;
// @5:158
  LUT3 digitalOutputPins12_i_i_a2_0_0 (
	.I0(clockCounter[7]),
	.I1(clockCounter[10]),
	.I2(clockCounter[14]),
	.F(digitalOutputPins12_i_i_a2_0)
);
defparam digitalOutputPins12_i_i_a2_0_0.INIT=8'h01;
// @5:158
  LUT3 digitalOutputPins10_i_i_a2_0_0 (
	.I0(clockCounter[7]),
	.I1(clockCounter[14]),
	.I2(clockCounter[16]),
	.F(digitalOutputPins10_i_i_a2_0)
);
defparam digitalOutputPins10_i_i_a2_0_0.INIT=8'h08;
  LUT2 m10_e (
	.I0(clockCounter[16]),
	.I1(digit2[4]),
	.F(N_142)
);
defparam m10_e.INIT=4'h8;
  LUT2 m5 (
	.I0(clockCounter[10]),
	.I1(clockCounter[11]),
	.F(N_6_0)
);
defparam m5.INIT=4'h8;
  LUT2 m17_e (
	.I0(clockCounter[16]),
	.I1(digit2[3]),
	.F(N_143)
);
defparam m17_e.INIT=4'h8;
  LUT2 \serialClockCounter_3_0_cZ[1]  (
	.I0(serialClockCounter[0]),
	.I1(serialClockCounter[1]),
	.F(serialClockCounter_3_0[1])
);
defparam \serialClockCounter_3_0_cZ[1] .INIT=4'h6;
// @5:67
  LUT3 un1_serialClockCounter_1_axbxc2_cZ (
	.I0(serialClockCounter[0]),
	.I1(serialClockCounter[1]),
	.I2(serialClockCounter[2]),
	.F(un1_serialClockCounter_1_axbxc2)
);
defparam un1_serialClockCounter_1_axbxc2_cZ.INIT=8'h78;
// @5:66
  LUT3 \serialClockCounter_3_cZ[3]  (
	.I0(serialClockCounter[0]),
	.I1(serialClockCounter[2]),
	.I2(serialClockCounter[3]),
	.F(serialClockCounter_3[3])
);
defparam \serialClockCounter_3_cZ[3] .INIT=8'hE8;
// @5:58
  DFFE \serialBuffer_Z[1]  (
	.Q(serialBuffer[1]),
	.D(serialClockIn_c),
	.CLK(clock_c),
	.CE(serialBuffer4)
);
// @5:58
  DFFE \serialBuffer_Z[0]  (
	.Q(serialBuffer[0]),
	.D(serialDataIn_c),
	.CLK(clock_c),
	.CE(serialBuffer4)
);
// @5:58
  DFFE \serialFiltered_Z[1]  (
	.Q(serialFiltered[1]),
	.D(serialBuffer[1]),
	.CLK(clock_c),
	.CE(serialBuffer4)
);
// @5:157
  DFFE \digitalOutputPins_Z[3]  (
	.Q(digitalOutputPins_c[3]),
	.D(N_86_4_i),
	.CLK(clock_c),
	.CE(un1_digitalOutputPins_i_0)
);
// @5:157
  DFFE \digitalOutputPins_Z[2]  (
	.Q(digitalOutputPins_c[2]),
	.D(N_85_i),
	.CLK(clock_c),
	.CE(un1_digitalOutputPins_i_0)
);
// @5:157
  DFFE \digitalOutputPins_Z[1]  (
	.Q(digitalOutputPins_c[1]),
	.D(N_118_i),
	.CLK(clock_c),
	.CE(un1_digitalOutputPins_i_0)
);
// @5:157
  DFFE \digitalOutputPins_Z[0]  (
	.Q(digitalOutputPins_c[0]),
	.D(N_87_i),
	.CLK(clock_c),
	.CE(un1_digitalOutputPins_i_0)
);
// @5:157
  DFFE \segmentOutputPins_Z[7]  (
	.Q(segmentOutputPins_c[7]),
	.D(segmentOutputPins_34[7]),
	.CLK(clock_c),
	.CE(un1_digitalOutputPins_i_0)
);
// @5:157
  DFFE \segmentOutputPins_Z[6]  (
	.Q(segmentOutputPins_c[6]),
	.D(segmentOutputPins_34[6]),
	.CLK(clock_c),
	.CE(un1_digitalOutputPins_i_0)
);
// @5:157
  DFFE \segmentOutputPins_Z[5]  (
	.Q(segmentOutputPins_c[5]),
	.D(segmentOutputPins_34[5]),
	.CLK(clock_c),
	.CE(un1_digitalOutputPins_i_0)
);
// @5:157
  DFFE \segmentOutputPins_Z[4]  (
	.Q(segmentOutputPins_c[4]),
	.D(N_135_i),
	.CLK(clock_c),
	.CE(un1_digitalOutputPins_i_0)
);
// @5:157
  DFFE \segmentOutputPins_Z[3]  (
	.Q(segmentOutputPins_c[3]),
	.D(N_137_i),
	.CLK(clock_c),
	.CE(un1_digitalOutputPins_i_0)
);
// @5:157
  DFFE \segmentOutputPins_Z[2]  (
	.Q(segmentOutputPins_c[2]),
	.D(segmentOutputPins_34[2]),
	.CLK(clock_c),
	.CE(un1_digitalOutputPins_i_0)
);
// @5:157
  DFFE \segmentOutputPins_Z[1]  (
	.Q(segmentOutputPins_c[1]),
	.D(segmentOutputPins_34[1]),
	.CLK(clock_c),
	.CE(un1_digitalOutputPins_i_0)
);
// @5:157
  DFFE \segmentOutputPins_Z[0]  (
	.Q(segmentOutputPins_c[0]),
	.D(segmentOutputPins_34[0]),
	.CLK(clock_c),
	.CE(un1_digitalOutputPins_i_0)
);
  DFF \chatteringCounter_Z[10]  (
	.Q(chatteringCounter[10]),
	.D(chatteringCounter_1[10]),
	.CLK(clock_c)
);
defparam \chatteringCounter_Z[10] .INIT=1'b0;
  DFF \chatteringCounter_Z[9]  (
	.Q(chatteringCounter[9]),
	.D(chatteringCounter_1[9]),
	.CLK(clock_c)
);
defparam \chatteringCounter_Z[9] .INIT=1'b0;
  DFF \chatteringCounter_Z[8]  (
	.Q(chatteringCounter[8]),
	.D(chatteringCounter_1[8]),
	.CLK(clock_c)
);
defparam \chatteringCounter_Z[8] .INIT=1'b0;
  DFF \chatteringCounter_Z[7]  (
	.Q(chatteringCounter[7]),
	.D(chatteringCounter_1[7]),
	.CLK(clock_c)
);
defparam \chatteringCounter_Z[7] .INIT=1'b0;
  DFF \chatteringCounter_Z[6]  (
	.Q(chatteringCounter[6]),
	.D(chatteringCounter_1[6]),
	.CLK(clock_c)
);
defparam \chatteringCounter_Z[6] .INIT=1'b0;
  DFF \chatteringCounter_Z[5]  (
	.Q(chatteringCounter[5]),
	.D(chatteringCounter_1[5]),
	.CLK(clock_c)
);
defparam \chatteringCounter_Z[5] .INIT=1'b0;
  DFF \chatteringCounter_Z[4]  (
	.Q(chatteringCounter[4]),
	.D(chatteringCounter_1[4]),
	.CLK(clock_c)
);
defparam \chatteringCounter_Z[4] .INIT=1'b0;
  DFF \chatteringCounter_Z[3]  (
	.Q(chatteringCounter[3]),
	.D(chatteringCounter_1[3]),
	.CLK(clock_c)
);
defparam \chatteringCounter_Z[3] .INIT=1'b0;
  DFF \chatteringCounter_Z[2]  (
	.Q(chatteringCounter[2]),
	.D(chatteringCounter_1[2]),
	.CLK(clock_c)
);
defparam \chatteringCounter_Z[2] .INIT=1'b0;
  DFF \chatteringCounter_Z[1]  (
	.Q(chatteringCounter[1]),
	.D(chatteringCounter_1[1]),
	.CLK(clock_c)
);
defparam \chatteringCounter_Z[1] .INIT=1'b0;
  DFF \chatteringCounter_Z[0]  (
	.Q(chatteringCounter[0]),
	.D(chatteringCounter_1[0]),
	.CLK(clock_c)
);
defparam \chatteringCounter_Z[0] .INIT=1'b0;
  DFF \chatteringCounter_Z[15]  (
	.Q(chatteringCounter[15]),
	.D(chatteringCounter_1[15]),
	.CLK(clock_c)
);
defparam \chatteringCounter_Z[15] .INIT=1'b0;
  DFF \chatteringCounter_Z[14]  (
	.Q(chatteringCounter[14]),
	.D(chatteringCounter_1[14]),
	.CLK(clock_c)
);
defparam \chatteringCounter_Z[14] .INIT=1'b0;
  DFF \chatteringCounter_Z[13]  (
	.Q(chatteringCounter[13]),
	.D(chatteringCounter_1[13]),
	.CLK(clock_c)
);
defparam \chatteringCounter_Z[13] .INIT=1'b0;
  DFF \chatteringCounter_Z[12]  (
	.Q(chatteringCounter[12]),
	.D(chatteringCounter_1[12]),
	.CLK(clock_c)
);
defparam \chatteringCounter_Z[12] .INIT=1'b0;
  DFF \chatteringCounter_Z[11]  (
	.Q(chatteringCounter[11]),
	.D(chatteringCounter_1[11]),
	.CLK(clock_c)
);
defparam \chatteringCounter_Z[11] .INIT=1'b0;
  DFFSE \digit0_Z[0]  (
	.Q(digit0[0]),
	.D(serialReg[0]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(digit0_0_sqmuxa)
);
defparam \digit0_Z[0] .INIT=1'b1;
  DFFE \digit0_Z[1]  (
	.Q(digit0[1]),
	.D(serialReg[1]),
	.CLK(serialFiltered[1]),
	.CE(digit0_0_sqmuxa)
);
defparam \digit0_Z[1] .INIT=1'b0;
  DFFE \digit0_Z[2]  (
	.Q(digit0[2]),
	.D(serialReg[2]),
	.CLK(serialFiltered[1]),
	.CE(digit0_0_sqmuxa)
);
defparam \digit0_Z[2] .INIT=1'b0;
  DFFE \digit0_Z[3]  (
	.Q(digit0[3]),
	.D(serialReg[3]),
	.CLK(serialFiltered[1]),
	.CE(digit0_0_sqmuxa)
);
defparam \digit0_Z[3] .INIT=1'b0;
  DFFE \digit0_Z[4]  (
	.Q(digit0[4]),
	.D(serialReg[4]),
	.CLK(serialFiltered[1]),
	.CE(digit0_0_sqmuxa)
);
defparam \digit0_Z[4] .INIT=1'b0;
  DFFSE \digit0_Z[5]  (
	.Q(digit0[5]),
	.D(serialReg[5]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(digit0_0_sqmuxa)
);
defparam \digit0_Z[5] .INIT=1'b1;
  DFFE \digit0_Z[6]  (
	.Q(digit0[6]),
	.D(serialReg[6]),
	.CLK(serialFiltered[1]),
	.CE(digit0_0_sqmuxa)
);
defparam \digit0_Z[6] .INIT=1'b0;
  DFFE \digit0_Z[7]  (
	.Q(digit0[7]),
	.D(serialReg[7]),
	.CLK(serialFiltered[1]),
	.CE(digit0_0_sqmuxa)
);
defparam \digit0_Z[7] .INIT=1'b0;
  DFFSE \digit1_Z[0]  (
	.Q(digit1[0]),
	.D(serialReg[0]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(digit1_1_sqmuxa)
);
defparam \digit1_Z[0] .INIT=1'b1;
  DFFSE \digit1_Z[1]  (
	.Q(digit1[1]),
	.D(serialReg[1]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(digit1_1_sqmuxa)
);
defparam \digit1_Z[1] .INIT=1'b1;
  DFFE \digit1_Z[2]  (
	.Q(digit1[2]),
	.D(serialReg[2]),
	.CLK(serialFiltered[1]),
	.CE(digit1_1_sqmuxa)
);
defparam \digit1_Z[2] .INIT=1'b0;
  DFFSE \digit1_Z[3]  (
	.Q(digit1[3]),
	.D(serialReg[3]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(digit1_1_sqmuxa)
);
defparam \digit1_Z[3] .INIT=1'b1;
  DFFSE \digit1_Z[4]  (
	.Q(digit1[4]),
	.D(serialReg[4]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(digit1_1_sqmuxa)
);
defparam \digit1_Z[4] .INIT=1'b1;
  DFFE \digit1_Z[5]  (
	.Q(digit1[5]),
	.D(serialReg[5]),
	.CLK(serialFiltered[1]),
	.CE(digit1_1_sqmuxa)
);
defparam \digit1_Z[5] .INIT=1'b0;
  DFFSE \digit1_Z[6]  (
	.Q(digit1[6]),
	.D(serialReg[6]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(digit1_1_sqmuxa)
);
defparam \digit1_Z[6] .INIT=1'b1;
  DFFE \digit1_Z[7]  (
	.Q(digit1[7]),
	.D(serialReg[7]),
	.CLK(serialFiltered[1]),
	.CE(digit1_1_sqmuxa)
);
defparam \digit1_Z[7] .INIT=1'b0;
  DFFSE \digit2_Z[0]  (
	.Q(digit2[0]),
	.D(serialReg[0]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(digit2_1_sqmuxa)
);
defparam \digit2_Z[0] .INIT=1'b1;
  DFFSE \digit2_Z[1]  (
	.Q(digit2[1]),
	.D(serialReg[1]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(digit2_1_sqmuxa)
);
defparam \digit2_Z[1] .INIT=1'b1;
  DFFE \digit2_Z[2]  (
	.Q(digit2[2]),
	.D(serialReg[2]),
	.CLK(serialFiltered[1]),
	.CE(digit2_1_sqmuxa)
);
defparam \digit2_Z[2] .INIT=1'b0;
  DFFE \digit2_Z[3]  (
	.Q(digit2[3]),
	.D(serialReg[3]),
	.CLK(serialFiltered[1]),
	.CE(digit2_1_sqmuxa)
);
defparam \digit2_Z[3] .INIT=1'b0;
  DFFSE \digit2_Z[4]  (
	.Q(digit2[4]),
	.D(serialReg[4]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(digit2_1_sqmuxa)
);
defparam \digit2_Z[4] .INIT=1'b1;
  DFFSE \digit2_Z[5]  (
	.Q(digit2[5]),
	.D(serialReg[5]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(digit2_1_sqmuxa)
);
defparam \digit2_Z[5] .INIT=1'b1;
  DFFSE \digit2_Z[6]  (
	.Q(digit2[6]),
	.D(serialReg[6]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(digit2_1_sqmuxa)
);
defparam \digit2_Z[6] .INIT=1'b1;
  DFFE \digit2_Z[7]  (
	.Q(digit2[7]),
	.D(serialReg[7]),
	.CLK(serialFiltered[1]),
	.CE(digit2_1_sqmuxa)
);
defparam \digit2_Z[7] .INIT=1'b0;
  DFFSE \digit3_Z[0]  (
	.Q(digit3[0]),
	.D(serialReg[0]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(digit3_1_sqmuxa)
);
defparam \digit3_Z[0] .INIT=1'b1;
  DFFE \digit3_Z[1]  (
	.Q(digit3[1]),
	.D(serialReg[1]),
	.CLK(serialFiltered[1]),
	.CE(digit3_1_sqmuxa)
);
defparam \digit3_Z[1] .INIT=1'b0;
  DFFSE \digit3_Z[2]  (
	.Q(digit3[2]),
	.D(serialReg[2]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(digit3_1_sqmuxa)
);
defparam \digit3_Z[2] .INIT=1'b1;
  DFFE \digit3_Z[3]  (
	.Q(digit3[3]),
	.D(serialReg[3]),
	.CLK(serialFiltered[1]),
	.CE(digit3_1_sqmuxa)
);
defparam \digit3_Z[3] .INIT=1'b0;
  DFFE \digit3_Z[4]  (
	.Q(digit3[4]),
	.D(serialReg[4]),
	.CLK(serialFiltered[1]),
	.CE(digit3_1_sqmuxa)
);
defparam \digit3_Z[4] .INIT=1'b0;
  DFFSE \digit3_Z[5]  (
	.Q(digit3[5]),
	.D(serialReg[5]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(digit3_1_sqmuxa)
);
defparam \digit3_Z[5] .INIT=1'b1;
  DFFSE \digit3_Z[6]  (
	.Q(digit3[6]),
	.D(serialReg[6]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(digit3_1_sqmuxa)
);
defparam \digit3_Z[6] .INIT=1'b1;
  DFFE \digit3_Z[7]  (
	.Q(digit3[7]),
	.D(serialReg[7]),
	.CLK(serialFiltered[1]),
	.CE(digit3_1_sqmuxa)
);
defparam \digit3_Z[7] .INIT=1'b0;
  DFFSE \serialReg_Z[0]  (
	.Q(serialReg[0]),
	.D(serialBuffer[0]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(serialClockCounter11)
);
defparam \serialReg_Z[0] .INIT=1'b1;
  DFFSE \serialReg_Z[1]  (
	.Q(serialReg[1]),
	.D(serialReg[0]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(serialClockCounter11)
);
defparam \serialReg_Z[1] .INIT=1'b1;
  DFFSE \serialReg_Z[2]  (
	.Q(serialReg[2]),
	.D(serialReg[1]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(serialClockCounter11)
);
defparam \serialReg_Z[2] .INIT=1'b1;
  DFFSE \serialReg_Z[3]  (
	.Q(serialReg[3]),
	.D(serialReg[2]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(serialClockCounter11)
);
defparam \serialReg_Z[3] .INIT=1'b1;
  DFFSE \serialReg_Z[4]  (
	.Q(serialReg[4]),
	.D(serialReg[3]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(serialClockCounter11)
);
defparam \serialReg_Z[4] .INIT=1'b1;
  DFFSE \serialReg_Z[5]  (
	.Q(serialReg[5]),
	.D(serialReg[4]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(serialClockCounter11)
);
defparam \serialReg_Z[5] .INIT=1'b1;
  DFFSE \serialReg_Z[6]  (
	.Q(serialReg[6]),
	.D(serialReg[5]),
	.CLK(serialFiltered[1]),
	.SET(GND),
	.CE(serialClockCounter11)
);
defparam \serialReg_Z[6] .INIT=1'b1;
  DFFE \serialReg_Z[7]  (
	.Q(serialReg[7]),
	.D(serialReg[6]),
	.CLK(serialFiltered[1]),
	.CE(serialClockCounter11)
);
defparam \serialReg_Z[7] .INIT=1'b0;
  DFFE \serialReg_Z[8]  (
	.Q(serialReg[8]),
	.D(serialReg[7]),
	.CLK(serialFiltered[1]),
	.CE(serialClockCounter11)
);
defparam \serialReg_Z[8] .INIT=1'b0;
  DFFE \serialReg_Z[9]  (
	.Q(serialReg[9]),
	.D(serialReg[8]),
	.CLK(serialFiltered[1]),
	.CE(serialClockCounter11)
);
defparam \serialReg_Z[9] .INIT=1'b0;
  DFFR \clockCounter_Z[0]  (
	.Q(clockCounter[0]),
	.D(N_14_0),
	.CLK(clock_c),
	.RESET(clockCounter10_i)
);
defparam \clockCounter_Z[0] .INIT=1'b0;
  DFFR \clockCounter_Z[1]  (
	.Q(clockCounter[1]),
	.D(N_16_0),
	.CLK(clock_c),
	.RESET(clockCounter10_i)
);
defparam \clockCounter_Z[1] .INIT=1'b0;
  DFFR \clockCounter_Z[2]  (
	.Q(clockCounter[2]),
	.D(N_18_0),
	.CLK(clock_c),
	.RESET(clockCounter10_i)
);
defparam \clockCounter_Z[2] .INIT=1'b0;
  DFFR \clockCounter_Z[3]  (
	.Q(clockCounter[3]),
	.D(N_20_0),
	.CLK(clock_c),
	.RESET(clockCounter10_i)
);
defparam \clockCounter_Z[3] .INIT=1'b0;
  DFFR \clockCounter_Z[4]  (
	.Q(clockCounter[4]),
	.D(N_22_0),
	.CLK(clock_c),
	.RESET(clockCounter10_i)
);
defparam \clockCounter_Z[4] .INIT=1'b0;
  DFFR \clockCounter_Z[5]  (
	.Q(clockCounter[5]),
	.D(N_24_0),
	.CLK(clock_c),
	.RESET(clockCounter10_i)
);
defparam \clockCounter_Z[5] .INIT=1'b0;
  DFFR \clockCounter_Z[6]  (
	.Q(clockCounter[6]),
	.D(N_26_0),
	.CLK(clock_c),
	.RESET(clockCounter10_i)
);
defparam \clockCounter_Z[6] .INIT=1'b0;
  DFFR \clockCounter_Z[7]  (
	.Q(clockCounter[7]),
	.D(N_28_0),
	.CLK(clock_c),
	.RESET(clockCounter10_i)
);
defparam \clockCounter_Z[7] .INIT=1'b0;
  DFFR \clockCounter_Z[8]  (
	.Q(clockCounter[8]),
	.D(N_30_0),
	.CLK(clock_c),
	.RESET(clockCounter10_i)
);
defparam \clockCounter_Z[8] .INIT=1'b0;
  DFFR \clockCounter_Z[9]  (
	.Q(clockCounter[9]),
	.D(N_32_0),
	.CLK(clock_c),
	.RESET(clockCounter10_i)
);
defparam \clockCounter_Z[9] .INIT=1'b0;
  DFFR \clockCounter_Z[10]  (
	.Q(clockCounter[10]),
	.D(N_34_0),
	.CLK(clock_c),
	.RESET(clockCounter10_i)
);
defparam \clockCounter_Z[10] .INIT=1'b0;
  DFFR \clockCounter_Z[11]  (
	.Q(clockCounter[11]),
	.D(N_36_0),
	.CLK(clock_c),
	.RESET(clockCounter10_i)
);
defparam \clockCounter_Z[11] .INIT=1'b0;
  DFFR \clockCounter_Z[12]  (
	.Q(clockCounter[12]),
	.D(N_38_0),
	.CLK(clock_c),
	.RESET(clockCounter10_i)
);
defparam \clockCounter_Z[12] .INIT=1'b0;
  DFFR \clockCounter_Z[13]  (
	.Q(clockCounter[13]),
	.D(N_40_0),
	.CLK(clock_c),
	.RESET(clockCounter10_i)
);
defparam \clockCounter_Z[13] .INIT=1'b0;
  DFFR \clockCounter_Z[14]  (
	.Q(clockCounter[14]),
	.D(N_42_0),
	.CLK(clock_c),
	.RESET(clockCounter10_i)
);
defparam \clockCounter_Z[14] .INIT=1'b0;
  DFFR \clockCounter_Z[15]  (
	.Q(clockCounter[15]),
	.D(N_44_0),
	.CLK(clock_c),
	.RESET(clockCounter10_i)
);
defparam \clockCounter_Z[15] .INIT=1'b0;
  DFFR \clockCounter_Z[16]  (
	.Q(clockCounter[16]),
	.D(N_46_0),
	.CLK(clock_c),
	.RESET(clockCounter10_i)
);
defparam \clockCounter_Z[16] .INIT=1'b0;
  DFFNE \serialClockCounter_Z[3]  (
	.Q(serialClockCounter[3]),
	.D(serialClockCounter_3[3]),
	.CLK(serialFiltered[1]),
	.CE(serialClockCounter[1])
);
defparam \serialClockCounter_Z[3] .INIT=1'b0;
  DFFNE \serialClockCounter_Z[2]  (
	.Q(serialClockCounter[2]),
	.D(un1_serialClockCounter_1_axbxc2),
	.CLK(serialFiltered[1]),
	.CE(serialClockCounter11)
);
defparam \serialClockCounter_Z[2] .INIT=1'b0;
  DFFNE \serialClockCounter_Z[0]  (
	.Q(serialClockCounter[0]),
	.D(un1_serialClockCounter_1_axbxc0),
	.CLK(serialFiltered[1]),
	.CE(serialClockCounter11)
);
defparam \serialClockCounter_Z[0] .INIT=1'b0;
  DFFNRE \serialClockCounter_Z[1]  (
	.Q(serialClockCounter[1]),
	.D(serialClockCounter_3_0[1]),
	.CLK(serialFiltered[1]),
	.RESET(serialClockLed7),
	.CE(serialClockCounter11)
);
defparam \serialClockCounter_Z[1] .INIT=1'b0;
// @5:2
  IBUF clock_ibuf (
	.O(clock_c),
	.I(clock)
);
// @5:3
  IBUF serialClockIn_ibuf (
	.O(serialClockIn_c),
	.I(serialClockIn)
);
// @5:4
  IBUF serialDataIn_ibuf (
	.O(serialDataIn_c),
	.I(serialDataIn)
);
// @5:5
  OBUF serialClockLedOutR_obuf (
	.O(serialClockLedOutR),
	.I(serialClockLed7_i)
);
// @5:6
  OBUF serialClockLedOutB_obuf (
	.O(serialClockLedOutB),
	.I(serialFiltered_iso_i[1])
);
// @5:7
  OBUF serialClockLedOutG_obuf (
	.O(serialClockLedOutG),
	.I(serialBuffer_i[0])
);
// @5:8
  OBUF \digitalOutputPins_obuf[0]  (
	.O(digitalOutputPins[0]),
	.I(digitalOutputPins_c[0])
);
// @5:8
  OBUF \digitalOutputPins_obuf[1]  (
	.O(digitalOutputPins[1]),
	.I(digitalOutputPins_c[1])
);
// @5:8
  OBUF \digitalOutputPins_obuf[2]  (
	.O(digitalOutputPins[2]),
	.I(digitalOutputPins_c[2])
);
// @5:8
  OBUF \digitalOutputPins_obuf[3]  (
	.O(digitalOutputPins[3]),
	.I(digitalOutputPins_c[3])
);
// @5:13
  OBUF \segmentOutputPins_obuf[0]  (
	.O(segmentOutputPins[0]),
	.I(segmentOutputPins_c[0])
);
// @5:13
  OBUF \segmentOutputPins_obuf[1]  (
	.O(segmentOutputPins[1]),
	.I(segmentOutputPins_c[1])
);
// @5:13
  OBUF \segmentOutputPins_obuf[2]  (
	.O(segmentOutputPins[2]),
	.I(segmentOutputPins_c[2])
);
// @5:13
  OBUF \segmentOutputPins_obuf[3]  (
	.O(segmentOutputPins[3]),
	.I(segmentOutputPins_c[3])
);
// @5:13
  OBUF \segmentOutputPins_obuf[4]  (
	.O(segmentOutputPins[4]),
	.I(segmentOutputPins_c[4])
);
// @5:13
  OBUF \segmentOutputPins_obuf[5]  (
	.O(segmentOutputPins[5]),
	.I(segmentOutputPins_c[5])
);
// @5:13
  OBUF \segmentOutputPins_obuf[6]  (
	.O(segmentOutputPins[6]),
	.I(segmentOutputPins_c[6])
);
// @5:13
  OBUF \segmentOutputPins_obuf[7]  (
	.O(segmentOutputPins[7]),
	.I(segmentOutputPins_c[7])
);
// @5:48
  ALU clockCounter_2_s_16_0 (
	.CIN(clockCounter_2_cry_15),
	.I0(clockCounter[16]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_s_16_0_COUT),
	.SUM(N_46_0)
);
defparam clockCounter_2_s_16_0.ALU_MODE=0;
// @5:48
  ALU clockCounter_2_cry_15_0 (
	.CIN(clockCounter_2_cry_14),
	.I0(clockCounter[15]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_15),
	.SUM(N_44_0)
);
defparam clockCounter_2_cry_15_0.ALU_MODE=0;
// @5:48
  ALU clockCounter_2_cry_14_0 (
	.CIN(clockCounter_2_cry_13),
	.I0(clockCounter[14]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_14),
	.SUM(N_42_0)
);
defparam clockCounter_2_cry_14_0.ALU_MODE=0;
// @5:48
  ALU clockCounter_2_cry_13_0 (
	.CIN(clockCounter_2_cry_12),
	.I0(clockCounter[13]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_13),
	.SUM(N_40_0)
);
defparam clockCounter_2_cry_13_0.ALU_MODE=0;
// @5:48
  ALU clockCounter_2_cry_12_0 (
	.CIN(clockCounter_2_cry_11),
	.I0(clockCounter[12]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_12),
	.SUM(N_38_0)
);
defparam clockCounter_2_cry_12_0.ALU_MODE=0;
// @5:48
  ALU clockCounter_2_cry_11_0 (
	.CIN(clockCounter_2_cry_10),
	.I0(clockCounter[11]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_11),
	.SUM(N_36_0)
);
defparam clockCounter_2_cry_11_0.ALU_MODE=0;
// @5:48
  ALU clockCounter_2_cry_10_0 (
	.CIN(clockCounter_2_cry_9),
	.I0(clockCounter[10]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_10),
	.SUM(N_34_0)
);
defparam clockCounter_2_cry_10_0.ALU_MODE=0;
// @5:48
  ALU clockCounter_2_cry_9_0 (
	.CIN(clockCounter_2_cry_8),
	.I0(clockCounter[9]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_9),
	.SUM(N_32_0)
);
defparam clockCounter_2_cry_9_0.ALU_MODE=0;
// @5:48
  ALU clockCounter_2_cry_8_0 (
	.CIN(clockCounter_2_cry_7),
	.I0(clockCounter[8]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_8),
	.SUM(N_30_0)
);
defparam clockCounter_2_cry_8_0.ALU_MODE=0;
// @5:48
  ALU clockCounter_2_cry_7_0 (
	.CIN(clockCounter_2_cry_6),
	.I0(clockCounter[7]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_7),
	.SUM(N_28_0)
);
defparam clockCounter_2_cry_7_0.ALU_MODE=0;
// @5:48
  ALU clockCounter_2_cry_6_0 (
	.CIN(clockCounter_2_cry_5),
	.I0(clockCounter[6]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_6),
	.SUM(N_26_0)
);
defparam clockCounter_2_cry_6_0.ALU_MODE=0;
// @5:48
  ALU clockCounter_2_cry_5_0 (
	.CIN(clockCounter_2_cry_4),
	.I0(clockCounter[5]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_5),
	.SUM(N_24_0)
);
defparam clockCounter_2_cry_5_0.ALU_MODE=0;
// @5:48
  ALU clockCounter_2_cry_4_0 (
	.CIN(clockCounter_2_cry_3),
	.I0(clockCounter[4]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_4),
	.SUM(N_22_0)
);
defparam clockCounter_2_cry_4_0.ALU_MODE=0;
// @5:48
  ALU clockCounter_2_cry_3_0 (
	.CIN(clockCounter_2_cry_2),
	.I0(clockCounter[3]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_3),
	.SUM(N_20_0)
);
defparam clockCounter_2_cry_3_0.ALU_MODE=0;
// @5:48
  ALU clockCounter_2_cry_2_0 (
	.CIN(clockCounter_2_cry_1),
	.I0(clockCounter[2]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_2),
	.SUM(N_18_0)
);
defparam clockCounter_2_cry_2_0.ALU_MODE=0;
// @5:48
  ALU clockCounter_2_cry_1_0 (
	.CIN(clockCounter_2_cry_0),
	.I0(clockCounter[1]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_1),
	.SUM(N_16_0)
);
defparam clockCounter_2_cry_1_0.ALU_MODE=0;
// @5:48
  ALU clockCounter_2_cry_0_0 (
	.CIN(VCC),
	.I0(clockCounter[0]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_0),
	.SUM(N_14_0)
);
defparam clockCounter_2_cry_0_0.ALU_MODE=0;
// @5:59
  ALU chatteringCounter_1_s_15_0 (
	.CIN(chatteringCounter_1_cry_14),
	.I0(chatteringCounter[15]),
	.I1(GND),
	.I3(GND),
	.COUT(chatteringCounter_1_s_15_0_COUT),
	.SUM(chatteringCounter_1[15])
);
defparam chatteringCounter_1_s_15_0.ALU_MODE=0;
// @5:59
  ALU chatteringCounter_1_cry_14_0 (
	.CIN(chatteringCounter_1_cry_13),
	.I0(chatteringCounter[14]),
	.I1(GND),
	.I3(GND),
	.COUT(chatteringCounter_1_cry_14),
	.SUM(chatteringCounter_1[14])
);
defparam chatteringCounter_1_cry_14_0.ALU_MODE=0;
// @5:59
  ALU chatteringCounter_1_cry_13_0 (
	.CIN(chatteringCounter_1_cry_12),
	.I0(chatteringCounter[13]),
	.I1(GND),
	.I3(GND),
	.COUT(chatteringCounter_1_cry_13),
	.SUM(chatteringCounter_1[13])
);
defparam chatteringCounter_1_cry_13_0.ALU_MODE=0;
// @5:59
  ALU chatteringCounter_1_cry_12_0 (
	.CIN(chatteringCounter_1_cry_11),
	.I0(chatteringCounter[12]),
	.I1(GND),
	.I3(GND),
	.COUT(chatteringCounter_1_cry_12),
	.SUM(chatteringCounter_1[12])
);
defparam chatteringCounter_1_cry_12_0.ALU_MODE=0;
// @5:59
  ALU chatteringCounter_1_cry_11_0 (
	.CIN(chatteringCounter_1_cry_10),
	.I0(chatteringCounter[11]),
	.I1(GND),
	.I3(GND),
	.COUT(chatteringCounter_1_cry_11),
	.SUM(chatteringCounter_1[11])
);
defparam chatteringCounter_1_cry_11_0.ALU_MODE=0;
// @5:59
  ALU chatteringCounter_1_cry_10_0 (
	.CIN(chatteringCounter_1_cry_9),
	.I0(chatteringCounter[10]),
	.I1(GND),
	.I3(GND),
	.COUT(chatteringCounter_1_cry_10),
	.SUM(chatteringCounter_1[10])
);
defparam chatteringCounter_1_cry_10_0.ALU_MODE=0;
// @5:59
  ALU chatteringCounter_1_cry_9_0 (
	.CIN(chatteringCounter_1_cry_8),
	.I0(chatteringCounter[9]),
	.I1(GND),
	.I3(GND),
	.COUT(chatteringCounter_1_cry_9),
	.SUM(chatteringCounter_1[9])
);
defparam chatteringCounter_1_cry_9_0.ALU_MODE=0;
// @5:59
  ALU chatteringCounter_1_cry_8_0 (
	.CIN(chatteringCounter_1_cry_7),
	.I0(chatteringCounter[8]),
	.I1(GND),
	.I3(GND),
	.COUT(chatteringCounter_1_cry_8),
	.SUM(chatteringCounter_1[8])
);
defparam chatteringCounter_1_cry_8_0.ALU_MODE=0;
// @5:59
  ALU chatteringCounter_1_cry_7_0 (
	.CIN(chatteringCounter_1_cry_6),
	.I0(chatteringCounter[7]),
	.I1(GND),
	.I3(GND),
	.COUT(chatteringCounter_1_cry_7),
	.SUM(chatteringCounter_1[7])
);
defparam chatteringCounter_1_cry_7_0.ALU_MODE=0;
// @5:59
  ALU chatteringCounter_1_cry_6_0 (
	.CIN(chatteringCounter_1_cry_5),
	.I0(chatteringCounter[6]),
	.I1(GND),
	.I3(GND),
	.COUT(chatteringCounter_1_cry_6),
	.SUM(chatteringCounter_1[6])
);
defparam chatteringCounter_1_cry_6_0.ALU_MODE=0;
// @5:59
  ALU chatteringCounter_1_cry_5_0 (
	.CIN(chatteringCounter_1_cry_4),
	.I0(chatteringCounter[5]),
	.I1(GND),
	.I3(GND),
	.COUT(chatteringCounter_1_cry_5),
	.SUM(chatteringCounter_1[5])
);
defparam chatteringCounter_1_cry_5_0.ALU_MODE=0;
// @5:59
  ALU chatteringCounter_1_cry_4_0 (
	.CIN(chatteringCounter_1_cry_3),
	.I0(chatteringCounter[4]),
	.I1(GND),
	.I3(GND),
	.COUT(chatteringCounter_1_cry_4),
	.SUM(chatteringCounter_1[4])
);
defparam chatteringCounter_1_cry_4_0.ALU_MODE=0;
// @5:59
  ALU chatteringCounter_1_cry_3_0 (
	.CIN(chatteringCounter_1_cry_2),
	.I0(chatteringCounter[3]),
	.I1(GND),
	.I3(GND),
	.COUT(chatteringCounter_1_cry_3),
	.SUM(chatteringCounter_1[3])
);
defparam chatteringCounter_1_cry_3_0.ALU_MODE=0;
// @5:59
  ALU chatteringCounter_1_cry_2_0 (
	.CIN(chatteringCounter_1_cry_1),
	.I0(chatteringCounter[2]),
	.I1(GND),
	.I3(GND),
	.COUT(chatteringCounter_1_cry_2),
	.SUM(chatteringCounter_1[2])
);
defparam chatteringCounter_1_cry_2_0.ALU_MODE=0;
// @5:59
  ALU chatteringCounter_1_cry_1_0 (
	.CIN(chatteringCounter_1_cry_0),
	.I0(chatteringCounter[1]),
	.I1(GND),
	.I3(GND),
	.COUT(chatteringCounter_1_cry_1),
	.SUM(chatteringCounter_1[1])
);
defparam chatteringCounter_1_cry_1_0.ALU_MODE=0;
// @5:59
  ALU chatteringCounter_1_cry_0_0 (
	.CIN(VCC),
	.I0(chatteringCounter[0]),
	.I1(GND),
	.I3(GND),
	.COUT(chatteringCounter_1_cry_0),
	.SUM(chatteringCounter_1[0])
);
defparam chatteringCounter_1_cry_0_0.ALU_MODE=0;
  GND GND_cZ (
	.G(GND)
);
  VCC VCC_cZ (
	.V(VCC)
);
endmodule /* FourDigitLedController */

