//
// Written by Synplify Pro 
// Product Version "P-2019.09G-Beta2"
// Program "Synplify Pro", Mapper "mapgw, Build 1525R"
// Sun Jun 14 12:14:40 2020
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\/home/vagrant/gowin/SynplifyPro/lib/generic/gw1n.v "
// file 1 "\/home/vagrant/gowin/SynplifyPro/lib/vlog/hypermods.v "
// file 2 "\/home/vagrant/gowin/SynplifyPro/lib/vlog/umr_capim.v "
// file 3 "\/home/vagrant/gowin/SynplifyPro/lib/vlog/scemi_objects.v "
// file 4 "\/home/vagrant/gowin/SynplifyPro/lib/vlog/scemi_pipes.svh "
// file 5 "\/home/vagrant/workspace/verilogLeson/blink002/src/blink.v "
// file 6 "\/home/vagrant/gowin/SynplifyPro/lib/nlconst.dat "

`timescale 100 ps/100 ps
module FourDigitLedController (
  clock,
  serialClockIn,
  serialDataIn,
  serialClockLedOutR,
  serialClockLedOutB,
  serialClockLedOutG,
  digitalOutputPins,
  segmentOutputPins
)
;
input clock ;
input serialClockIn ;
input serialDataIn ;
output serialClockLedOutR ;
output serialClockLedOutB ;
output serialClockLedOutG ;
output [3:0] digitalOutputPins ;
output [7:0] segmentOutputPins ;
wire clock ;
wire serialClockIn ;
wire serialDataIn ;
wire serialClockLedOutR ;
wire serialClockLedOutB ;
wire serialClockLedOutG ;
wire [16:0] clockCounter;
wire [3:1] serialClockCounter;
wire [9:0] serialReg;
wire [7:0] digit0;
wire [7:0] digit1;
wire [7:0] digit2;
wire [7:0] digit3;
wire [7:0] segmentOutputPins_34;
wire [3:0] digitalOutputPins_c;
wire [7:0] segmentOutputPins_c;
wire [7:2] digit0_m;
wire [4:0] segmentOutputPins_34_iv_0_0;
wire [7:2] segmentOutputPins_34_iv_0;
wire [3:0] serialClockCounter_fast;
wire CO0 ;
wire VCC ;
wire GND ;
wire digit0_0_sqmuxa ;
wire digit1_1_sqmuxa ;
wire digit2_1_sqmuxa ;
wire digit3_1_sqmuxa ;
wire G_24 ;
wire N_79_i_0 ;
wire N_77_i_0 ;
wire CO1 ;
wire clock_c ;
wire serialClockIn_c ;
wire serialDataIn_c ;
wire serialClockIn_i_1_iso ;
wire N_71 ;
wire N_90 ;
wire N_106 ;
wire N_98_1 ;
wire N_84 ;
wire N_92 ;
wire N_24_0 ;
wire N_26_0 ;
wire N_28_0 ;
wire N_30_0 ;
wire N_32_0 ;
wire N_34_0 ;
wire N_36_0 ;
wire N_38_0 ;
wire N_40_0 ;
wire N_42_0 ;
wire N_44_0 ;
wire N_46_0 ;
wire N_48_0 ;
wire N_50_0 ;
wire N_52_0 ;
wire N_54_0 ;
wire N_56_0 ;
wire clockCounter_2_cry_0 ;
wire clockCounter_2_cry_1 ;
wire clockCounter_2_cry_2 ;
wire clockCounter_2_cry_3 ;
wire clockCounter_2_cry_4 ;
wire clockCounter_2_cry_5 ;
wire clockCounter_2_cry_6 ;
wire clockCounter_2_cry_7 ;
wire clockCounter_2_cry_8 ;
wire clockCounter_2_cry_9 ;
wire clockCounter_2_cry_10 ;
wire clockCounter_2_cry_11 ;
wire clockCounter_2_cry_12 ;
wire clockCounter_2_cry_13 ;
wire clockCounter_2_cry_14 ;
wire clockCounter_2_cry_15 ;
wire serialDataIn_c_i ;
wire digit024_i ;
wire N_78_i ;
wire N_80_i ;
wire clockCounter9_i ;
wire serialClockCounter11_i ;
wire m8_0_1 ;
wire digitalOutputPins11_i_i_a2_0_5 ;
wire digitalOutputPins11_i_i_a2_1 ;
wire clockCounter9lto16_0_a2_2 ;
wire digitalOutputPins13_i_i_a2_0_0 ;
wire clockCounter9lto16_0_0 ;
wire N_37_mux ;
wire P11_mux ;
wire m12_2 ;
wire digitalOutputPins11_i_i_a2_1_1 ;
wire N_78_i_1 ;
wire G_24_N_3L3 ;
wire G_24_N_4L6 ;
wire G_24_N_2L1 ;
wire G_24_N_3L3_0 ;
wire G_24_N_4L5 ;
wire clockCounter_2_s_16_0_COUT ;
wire N_20_0 ;
wire N_16_0 ;
wire N_14_0 ;
wire N_14_fast_0 ;
wire N_16_fast_0 ;
wire N_20_fast_0 ;
wire N_18_0 ;
wire N_18_fast_0 ;
wire G_24_N_4L5_0 ;
wire G_24_N_4L5_1 ;
wire g0_3_0 ;
wire g0_3_1 ;
wire g0_0_0 ;
wire g0_0_1 ;
wire g0_4_0 ;
wire g0_4_1 ;
wire g0_1 ;
wire g0_2 ;
wire g0_2_0 ;
wire g0_2_1 ;
wire g0_1_0 ;
wire g0_1_1 ;
wire g0_4_1_0 ;
wire g0_4_1_1 ;
wire g0_4_0_0 ;
wire g0_4_0_1 ;
wire g0_0_1_0 ;
wire g0_0_1_1 ;
wire g0_0_0_0 ;
wire g0_0_0_1 ;
wire g0_3_1_0 ;
wire g0_3_1_1 ;
wire g0_3_0_0 ;
wire g0_3_0_1 ;
wire G_24_N_4L5_1_0 ;
wire G_24_N_4L5_1_1 ;
wire G_24_N_4L5_0_0 ;
wire G_24_N_4L5_0_1 ;
  GSR GSR_INST (
	.GSRI(VCC)
);
  INV \serialClockCounter_r_0[1]  (
	.I(serialClockCounter[1]),
	.O(N_16_0)
);
  INV \serialClockCounter_r_fast_0[1]  (
	.I(serialClockCounter_fast[1]),
	.O(N_16_fast_0)
);
  INV \serialClockCounter_r_fast_0[0]  (
	.I(serialClockCounter_fast[0]),
	.O(N_14_fast_0)
);
  INV \serialClockCounter_r_0[0]  (
	.I(CO0),
	.O(N_14_0)
);
  INV serialDataIn_c_i_cZ (
	.I(serialDataIn_c),
	.O(serialDataIn_c_i)
);
  INV serialClockIn_i_1_iso_cZ (
	.I(serialClockIn_c),
	.O(serialClockIn_i_1_iso)
);
  LUT4 clockCounter9_i_cZ (
	.I0(N_71),
	.I1(N_106),
	.I2(clockCounter9lto16_0_0),
	.I3(clockCounter9lto16_0_a2_2),
	.F(clockCounter9_i)
);
defparam clockCounter9_i_cZ.INIT=16'h010F;
// @5:168
  LUT4 N_80_i_cZ (
	.I0(N_98_1),
	.I1(digitalOutputPins11_i_i_a2_0_5),
	.I2(digitalOutputPins11_i_i_a2_1),
	.I3(m8_0_1),
	.F(N_80_i)
);
defparam N_80_i_cZ.INIT=16'h7FFF;
  LUT4 serialClockCounter11_i_cZ (
	.I0(CO0),
	.I1(serialClockCounter[1]),
	.I2(serialClockCounter[2]),
	.I3(serialClockCounter[3]),
	.F(serialClockCounter11_i)
);
defparam serialClockCounter11_i_cZ.INIT=16'hFE00;
// @5:169
  LUT4 \segmentOutputPins_34_iv_0[0]  (
	.I0(N_79_i_0),
	.I1(N_90),
	.I2(digit0[0]),
	.I3(segmentOutputPins_34_iv_0_0[0]),
	.F(segmentOutputPins_34[0])
);
defparam \segmentOutputPins_34_iv_0[0] .INIT=16'hFFDC;
// @5:169
  LUT4 \segmentOutputPins_34_iv[6]  (
	.I0(N_77_i_0),
	.I1(digit0_m[6]),
	.I2(digit2[6]),
	.I3(segmentOutputPins_34_iv_0[6]),
	.F(segmentOutputPins_34[6])
);
defparam \segmentOutputPins_34_iv[6] .INIT=16'hFFDC;
// @5:169
  LUT4 \segmentOutputPins_34_iv[5]  (
	.I0(N_77_i_0),
	.I1(digit0_m[5]),
	.I2(digit2[5]),
	.I3(segmentOutputPins_34_iv_0[5]),
	.F(segmentOutputPins_34[5])
);
defparam \segmentOutputPins_34_iv[5] .INIT=16'hFFDC;
// @5:169
  LUT4 \segmentOutputPins_34_iv[7]  (
	.I0(N_77_i_0),
	.I1(digit0_m[7]),
	.I2(digit2[7]),
	.I3(segmentOutputPins_34_iv_0[7]),
	.F(segmentOutputPins_34[7])
);
defparam \segmentOutputPins_34_iv[7] .INIT=16'hFFDC;
// @5:169
  LUT4 \segmentOutputPins_34_iv[3]  (
	.I0(N_77_i_0),
	.I1(digit0_m[3]),
	.I2(digit2[3]),
	.I3(segmentOutputPins_34_iv_0[3]),
	.F(segmentOutputPins_34[3])
);
defparam \segmentOutputPins_34_iv[3] .INIT=16'hFFDC;
// @5:169
  LUT4 \segmentOutputPins_34_iv[2]  (
	.I0(N_77_i_0),
	.I1(digit0_m[2]),
	.I2(digit2[2]),
	.I3(segmentOutputPins_34_iv_0[2]),
	.F(segmentOutputPins_34[2])
);
defparam \segmentOutputPins_34_iv[2] .INIT=16'hFFDC;
// @5:169
  LUT4 \segmentOutputPins_34_iv_0[4]  (
	.I0(N_77_i_0),
	.I1(N_92),
	.I2(digit2[4]),
	.I3(segmentOutputPins_34_iv_0_0[4]),
	.F(segmentOutputPins_34[4])
);
defparam \segmentOutputPins_34_iv_0[4] .INIT=16'hFFDC;
// @5:169
  LUT4 \segmentOutputPins_34_iv_0[1]  (
	.I0(N_77_i_0),
	.I1(N_84),
	.I2(digit2[1]),
	.I3(segmentOutputPins_34_iv_0_0[1]),
	.F(segmentOutputPins_34[1])
);
defparam \segmentOutputPins_34_iv_0[1] .INIT=16'hFFDC;
// @5:84
  LUT4 clockCounter9lto16_0_a2_0 (
	.I0(clockCounter[5]),
	.I1(clockCounter[6]),
	.I2(clockCounter[7]),
	.I3(clockCounter[8]),
	.F(N_106)
);
defparam clockCounter9lto16_0_a2_0.INIT=16'h001F;
// @5:169
  LUT4 \segmentOutputPins_34_iv_0_0_cZ[1]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[15]),
	.I2(digit1[1]),
	.I3(digit3[1]),
	.F(segmentOutputPins_34_iv_0_0[1])
);
defparam \segmentOutputPins_34_iv_0_0_cZ[1] .INIT=16'hD580;
// @5:169
  LUT4 \segmentOutputPins_34_iv_0_cZ[2]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[15]),
	.I2(digit1[2]),
	.I3(digit3[2]),
	.F(segmentOutputPins_34_iv_0[2])
);
defparam \segmentOutputPins_34_iv_0_cZ[2] .INIT=16'hD580;
// @5:169
  LUT4 \segmentOutputPins_34_iv_0_0_cZ[4]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[15]),
	.I2(digit1[4]),
	.I3(digit3[4]),
	.F(segmentOutputPins_34_iv_0_0[4])
);
defparam \segmentOutputPins_34_iv_0_0_cZ[4] .INIT=16'hD580;
// @5:169
  LUT4 \segmentOutputPins_34_iv_0_cZ[5]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[15]),
	.I2(digit1[5]),
	.I3(digit3[5]),
	.F(segmentOutputPins_34_iv_0[5])
);
defparam \segmentOutputPins_34_iv_0_cZ[5] .INIT=16'hD580;
// @5:169
  LUT4 \segmentOutputPins_34_iv_0_cZ[6]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[15]),
	.I2(digit1[6]),
	.I3(digit3[6]),
	.F(segmentOutputPins_34_iv_0[6])
);
defparam \segmentOutputPins_34_iv_0_cZ[6] .INIT=16'hD580;
// @5:169
  LUT4 \segmentOutputPins_34_iv_0_cZ[3]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[15]),
	.I2(digit1[3]),
	.I3(digit3[3]),
	.F(segmentOutputPins_34_iv_0[3])
);
defparam \segmentOutputPins_34_iv_0_cZ[3] .INIT=16'hD580;
// @5:169
  LUT4 \segmentOutputPins_34_iv_0_0_cZ[0]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[15]),
	.I2(digit1[0]),
	.I3(digit3[0]),
	.F(segmentOutputPins_34_iv_0_0[0])
);
defparam \segmentOutputPins_34_iv_0_0_cZ[0] .INIT=16'hD580;
// @5:169
  LUT4 \segmentOutputPins_34_iv_0_cZ[7]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[15]),
	.I2(digit1[7]),
	.I3(digit3[7]),
	.F(segmentOutputPins_34_iv_0[7])
);
defparam \segmentOutputPins_34_iv_0_cZ[7] .INIT=16'hD580;
// @5:169
  LUT3 \digit0_m_cZ[6]  (
	.I0(clockCounter[10]),
	.I1(clockCounter[11]),
	.I2(digit0[6]),
	.F(digit0_m[6])
);
defparam \digit0_m_cZ[6] .INIT=8'h80;
// @5:169
  LUT3 \digit0_m_cZ[3]  (
	.I0(clockCounter[10]),
	.I1(clockCounter[11]),
	.I2(digit0[3]),
	.F(digit0_m[3])
);
defparam \digit0_m_cZ[3] .INIT=8'h80;
// @5:169
  LUT3 \digit0_m_cZ[5]  (
	.I0(clockCounter[10]),
	.I1(clockCounter[11]),
	.I2(digit0[5]),
	.F(digit0_m[5])
);
defparam \digit0_m_cZ[5] .INIT=8'h80;
// @5:169
  LUT3 \digit0_m_cZ[7]  (
	.I0(clockCounter[10]),
	.I1(clockCounter[11]),
	.I2(digit0[7]),
	.F(digit0_m[7])
);
defparam \digit0_m_cZ[7] .INIT=8'h80;
// @5:169
  LUT3 \segmentOutputPins_34_iv_0_a2_2[0]  (
	.I0(clockCounter[11]),
	.I1(clockCounter[16]),
	.I2(digit2[0]),
	.F(N_90)
);
defparam \segmentOutputPins_34_iv_0_a2_2[0] .INIT=8'h80;
// @5:169
  LUT4 un1_digitalOutputPins_i_a2_3_1 (
	.I0(clockCounter[10]),
	.I1(clockCounter[11]),
	.I2(clockCounter[14]),
	.I3(clockCounter[15]),
	.F(N_98_1)
);
defparam un1_digitalOutputPins_i_a2_3_1.INIT=16'h0400;
// @5:169
  LUT3 \digit0_m_cZ[2]  (
	.I0(clockCounter[10]),
	.I1(clockCounter[11]),
	.I2(digit0[2]),
	.F(digit0_m[2])
);
defparam \digit0_m_cZ[2] .INIT=8'h80;
// @5:169
  LUT3 \segmentOutputPins_34_iv_0_a2_0[1]  (
	.I0(clockCounter[10]),
	.I1(clockCounter[11]),
	.I2(digit0[1]),
	.F(N_84)
);
defparam \segmentOutputPins_34_iv_0_a2_0[1] .INIT=8'h80;
// @5:169
  LUT3 \segmentOutputPins_34_iv_0_a2_0[4]  (
	.I0(clockCounter[10]),
	.I1(clockCounter[11]),
	.I2(digit0[4]),
	.F(N_92)
);
defparam \segmentOutputPins_34_iv_0_a2_0[4] .INIT=8'h80;
// @5:169
  LUT4 digitalOutputPins11_i_i_a2_0_4 (
	.I0(clockCounter[3]),
	.I1(clockCounter[4]),
	.I2(clockCounter[5]),
	.I3(clockCounter[8]),
	.F(m8_0_1)
);
defparam digitalOutputPins11_i_i_a2_0_4.INIT=16'h0100;
// @5:169
  LUT4 digitalOutputPins11_i_i_a2_0_5_cZ (
	.I0(clockCounter[0]),
	.I1(clockCounter[1]),
	.I2(clockCounter[2]),
	.I3(clockCounter[12]),
	.F(digitalOutputPins11_i_i_a2_0_5)
);
defparam digitalOutputPins11_i_i_a2_0_5_cZ.INIT=16'h0100;
// @5:84
  LUT4 clockCounter9lto16_0_a2_2_cZ (
	.I0(clockCounter[11]),
	.I1(clockCounter[12]),
	.I2(clockCounter[13]),
	.I3(clockCounter[14]),
	.F(clockCounter9lto16_0_a2_2)
);
defparam clockCounter9lto16_0_a2_2_cZ.INIT=16'h0001;
// @5:169
  LUT4 digitalOutputPins13_i_i_a2_0_1 (
	.I0(clockCounter[6]),
	.I1(clockCounter[7]),
	.I2(clockCounter[13]),
	.I3(clockCounter[16]),
	.F(digitalOutputPins13_i_i_a2_0_0)
);
defparam digitalOutputPins13_i_i_a2_0_1.INIT=16'h1000;
// @5:93
  LUT2 CO1_cZ (
	.I0(CO0),
	.I1(serialClockCounter[1]),
	.F(CO1)
);
defparam CO1_cZ.INIT=4'h8;
// @5:169
  LUT2 un1_clockCounter_1_i_o2 (
	.I0(clockCounter[10]),
	.I1(clockCounter[11]),
	.F(N_79_i_0)
);
defparam un1_clockCounter_1_i_o2.INIT=4'h7;
// @5:169
  LUT2 un1_clockCounter_3_i_o2 (
	.I0(clockCounter[11]),
	.I1(clockCounter[16]),
	.F(N_77_i_0)
);
defparam un1_clockCounter_3_i_o2.INIT=4'h7;
// @5:169
  LUT2 digitalOutputPins13_i_i_o2 (
	.I0(clockCounter[9]),
	.I1(clockCounter[10]),
	.F(N_71)
);
defparam digitalOutputPins13_i_i_o2.INIT=4'h7;
// @5:84
  LUT2 clockCounter9lto16_0_0_cZ (
	.I0(clockCounter[15]),
	.I1(clockCounter[16]),
	.F(clockCounter9lto16_0_0)
);
defparam clockCounter9lto16_0_0_cZ.INIT=4'h7;
  LUT4 m8_0 (
	.I0(N_37_mux),
	.I1(clockCounter[6]),
	.I2(clockCounter[9]),
	.I3(clockCounter[13]),
	.F(P11_mux)
);
defparam m8_0.INIT=16'h2008;
  LUT4 m3_0_a2 (
	.I0(clockCounter[3]),
	.I1(clockCounter[4]),
	.I2(clockCounter[5]),
	.I3(clockCounter[8]),
	.F(N_37_mux)
);
defparam m3_0_a2.INIT=16'h0100;
  LUT4 m12_2_cZ (
	.I0(clockCounter[0]),
	.I1(clockCounter[1]),
	.I2(clockCounter[2]),
	.I3(clockCounter[12]),
	.F(m12_2)
);
defparam m12_2_cZ.INIT=16'h0100;
// @5:169
  LUT2 digitalOutputPins11_i_i_a2_1_1_cZ (
	.I0(clockCounter[7]),
	.I1(clockCounter[16]),
	.F(digitalOutputPins11_i_i_a2_1_1)
);
defparam digitalOutputPins11_i_i_a2_1_1_cZ.INIT=4'h2;
// @5:169
  LUT4 digitalOutputPins11_i_i_a2_1_cZ (
	.I0(clockCounter[6]),
	.I1(clockCounter[9]),
	.I2(clockCounter[13]),
	.I3(digitalOutputPins11_i_i_a2_1_1),
	.F(digitalOutputPins11_i_i_a2_1)
);
defparam digitalOutputPins11_i_i_a2_1_cZ.INIT=16'h4000;
  LUT4 digit024_i_cZ (
	.I0(CO0),
	.I1(serialClockCounter[1]),
	.I2(serialClockCounter[2]),
	.I3(serialClockCounter[3]),
	.F(digit024_i)
);
defparam digit024_i_cZ.INIT=16'hFFFE;
// @5:168
  LUT4 N_78_i_1_cZ (
	.I0(clockCounter[11]),
	.I1(clockCounter[14]),
	.I2(clockCounter[15]),
	.I3(digitalOutputPins13_i_i_a2_0_0),
	.F(N_78_i_1)
);
defparam N_78_i_1_cZ.INIT=16'h0400;
// @5:168
  LUT4 N_78_i_cZ (
	.I0(N_71),
	.I1(N_78_i_1),
	.I2(digitalOutputPins11_i_i_a2_0_5),
	.I3(m8_0_1),
	.F(N_78_i)
);
defparam N_78_i_cZ.INIT=16'hBFFF;
  LUT4 G_24_N_4L6_cZ (
	.I0(G_24_N_3L3),
	.I1(clockCounter[7]),
	.I2(clockCounter[15]),
	.I3(clockCounter[16]),
	.F(G_24_N_4L6)
);
defparam G_24_N_4L6_cZ.INIT=16'hFDFF;
  LUT4 G_24_N_3L3_cZ (
	.I0(clockCounter[9]),
	.I1(clockCounter[10]),
	.I2(clockCounter[11]),
	.I3(clockCounter[14]),
	.F(G_24_N_3L3)
);
defparam G_24_N_3L3_cZ.INIT=16'h0810;
  LUT4 G_24_cZ (
	.I0(G_24_N_2L1),
	.I1(G_24_N_4L6),
	.I2(G_24_N_4L5),
	.I3(P11_mux),
	.F(G_24)
);
defparam G_24_cZ.INIT=16'h0B00;
  LUT4 G_24_N_3L3_0_cZ (
	.I0(clockCounter[9]),
	.I1(clockCounter[10]),
	.I2(clockCounter[14]),
	.I3(clockCounter[15]),
	.F(G_24_N_3L3_0)
);
defparam G_24_N_3L3_0_cZ.INIT=16'h0240;
  LUT3 G_24_N_2L1_cZ (
	.I0(clockCounter[7]),
	.I1(clockCounter[11]),
	.I2(clockCounter[16]),
	.F(G_24_N_2L1)
);
defparam G_24_N_2L1_cZ.INIT=8'h08;
  LUT2 \serialClockCounter_r_fast_0[2]  (
	.I0(serialClockCounter[1]),
	.I1(serialClockCounter_fast[2]),
	.F(N_18_fast_0)
);
defparam \serialClockCounter_r_fast_0[2] .INIT=4'h6;
  LUT2 \serialClockCounter_r_0[2]  (
	.I0(serialClockCounter[1]),
	.I1(serialClockCounter[2]),
	.F(N_18_0)
);
defparam \serialClockCounter_r_0[2] .INIT=4'h6;
  LUT2 \serialClockCounter_r_fast_0[3]  (
	.I0(serialClockCounter[2]),
	.I1(serialClockCounter_fast[3]),
	.F(N_20_fast_0)
);
defparam \serialClockCounter_r_fast_0[3] .INIT=4'h6;
  LUT2 \serialClockCounter_r_0[3]  (
	.I0(serialClockCounter[2]),
	.I1(serialClockCounter[3]),
	.F(N_20_0)
);
defparam \serialClockCounter_r_0[3] .INIT=4'h6;
  LUT4 g0_2_0_cZ (
	.I0(serialClockCounter_fast[2]),
	.I1(serialClockCounter_fast[3]),
	.I2(serialReg[8]),
	.I3(serialReg[9]),
	.F(g0_2_0)
);
defparam g0_2_0_cZ.INIT=16'h0000;
  LUT4 g0_2_1_cZ (
	.I0(serialClockCounter_fast[2]),
	.I1(serialClockCounter_fast[3]),
	.I2(serialReg[8]),
	.I3(serialReg[9]),
	.F(g0_2_1)
);
defparam g0_2_1_cZ.INIT=16'h0000;
  LUT4 g0_1_0_cZ (
	.I0(serialClockCounter_fast[2]),
	.I1(serialClockCounter_fast[3]),
	.I2(serialReg[8]),
	.I3(serialReg[9]),
	.F(g0_1_0)
);
defparam g0_1_0_cZ.INIT=16'h1000;
  LUT4 g0_1_1_cZ (
	.I0(serialClockCounter_fast[2]),
	.I1(serialClockCounter_fast[3]),
	.I2(serialReg[8]),
	.I3(serialReg[9]),
	.F(g0_1_1)
);
defparam g0_1_1_cZ.INIT=16'h0000;
  LUT4 g0_4_1_0_cZ (
	.I0(serialClockCounter_fast[2]),
	.I1(serialClockCounter_fast[3]),
	.I2(serialReg[8]),
	.I3(serialReg[9]),
	.F(g0_4_1_0)
);
defparam g0_4_1_0_cZ.INIT=16'h0000;
  LUT4 g0_4_1_1_cZ (
	.I0(serialClockCounter_fast[2]),
	.I1(serialClockCounter_fast[3]),
	.I2(serialReg[8]),
	.I3(serialReg[9]),
	.F(g0_4_1_1)
);
defparam g0_4_1_1_cZ.INIT=16'h0000;
  LUT4 g0_4_0_0_cZ (
	.I0(serialClockCounter_fast[2]),
	.I1(serialClockCounter_fast[3]),
	.I2(serialReg[8]),
	.I3(serialReg[9]),
	.F(g0_4_0_0)
);
defparam g0_4_0_0_cZ.INIT=16'h0001;
  LUT4 g0_4_0_1_cZ (
	.I0(serialClockCounter_fast[2]),
	.I1(serialClockCounter_fast[3]),
	.I2(serialReg[8]),
	.I3(serialReg[9]),
	.F(g0_4_0_1)
);
defparam g0_4_0_1_cZ.INIT=16'h0000;
  LUT4 g0_0_1_0_cZ (
	.I0(serialClockCounter_fast[2]),
	.I1(serialClockCounter_fast[3]),
	.I2(serialReg[8]),
	.I3(serialReg[9]),
	.F(g0_0_1_0)
);
defparam g0_0_1_0_cZ.INIT=16'h0000;
  LUT4 g0_0_1_1_cZ (
	.I0(serialClockCounter_fast[2]),
	.I1(serialClockCounter_fast[3]),
	.I2(serialReg[8]),
	.I3(serialReg[9]),
	.F(g0_0_1_1)
);
defparam g0_0_1_1_cZ.INIT=16'h0000;
  LUT4 g0_0_0_0_cZ (
	.I0(serialClockCounter_fast[2]),
	.I1(serialClockCounter_fast[3]),
	.I2(serialReg[8]),
	.I3(serialReg[9]),
	.F(g0_0_0_0)
);
defparam g0_0_0_0_cZ.INIT=16'h0010;
  LUT4 g0_0_0_1_cZ (
	.I0(serialClockCounter_fast[2]),
	.I1(serialClockCounter_fast[3]),
	.I2(serialReg[8]),
	.I3(serialReg[9]),
	.F(g0_0_0_1)
);
defparam g0_0_0_1_cZ.INIT=16'h0000;
  LUT4 g0_3_1_0_cZ (
	.I0(serialClockCounter_fast[2]),
	.I1(serialClockCounter_fast[3]),
	.I2(serialReg[8]),
	.I3(serialReg[9]),
	.F(g0_3_1_0)
);
defparam g0_3_1_0_cZ.INIT=16'h0000;
  LUT4 g0_3_1_1_cZ (
	.I0(serialClockCounter_fast[2]),
	.I1(serialClockCounter_fast[3]),
	.I2(serialReg[8]),
	.I3(serialReg[9]),
	.F(g0_3_1_1)
);
defparam g0_3_1_1_cZ.INIT=16'h0000;
  LUT4 g0_3_0_0_cZ (
	.I0(serialClockCounter_fast[2]),
	.I1(serialClockCounter_fast[3]),
	.I2(serialReg[8]),
	.I3(serialReg[9]),
	.F(g0_3_0_0)
);
defparam g0_3_0_0_cZ.INIT=16'h0100;
  LUT4 g0_3_0_1_cZ (
	.I0(serialClockCounter_fast[2]),
	.I1(serialClockCounter_fast[3]),
	.I2(serialReg[8]),
	.I3(serialReg[9]),
	.F(g0_3_0_1)
);
defparam g0_3_0_1_cZ.INIT=16'h0000;
  LUT4 G_24_N_4L5_1_0_cZ (
	.I0(clockCounter[7]),
	.I1(clockCounter[15]),
	.I2(clockCounter[16]),
	.I3(m12_2),
	.F(G_24_N_4L5_1_0)
);
defparam G_24_N_4L5_1_0_cZ.INIT=16'hEFFF;
  LUT4 G_24_N_4L5_1_1_cZ (
	.I0(clockCounter[7]),
	.I1(clockCounter[15]),
	.I2(clockCounter[16]),
	.I3(m12_2),
	.F(G_24_N_4L5_1_1)
);
defparam G_24_N_4L5_1_1_cZ.INIT=16'h00FF;
  LUT4 G_24_N_4L5_0_0_cZ (
	.I0(clockCounter[7]),
	.I1(clockCounter[15]),
	.I2(clockCounter[16]),
	.I3(m12_2),
	.F(G_24_N_4L5_0_0)
);
defparam G_24_N_4L5_0_0_cZ.INIT=16'hFFFF;
  LUT4 G_24_N_4L5_0_1_cZ (
	.I0(clockCounter[7]),
	.I1(clockCounter[15]),
	.I2(clockCounter[16]),
	.I3(m12_2),
	.F(G_24_N_4L5_0_1)
);
defparam G_24_N_4L5_0_1_cZ.INIT=16'h00FF;
  MUX2_LUT5 G_24_N_4L5_0_cZ (
	.I0(G_24_N_4L5_0_0),
	.I1(G_24_N_4L5_0_1),
	.S0(G_24_N_3L3_0),
	.O(G_24_N_4L5_0)
);
  MUX2_LUT5 G_24_N_4L5_1_cZ (
	.I0(G_24_N_4L5_1_0),
	.I1(G_24_N_4L5_1_1),
	.S0(G_24_N_3L3_0),
	.O(G_24_N_4L5_1)
);
  MUX2_LUT5 g0_3_0_cZ (
	.I0(g0_3_0_0),
	.I1(g0_3_0_1),
	.S0(serialClockCounter_fast[1]),
	.O(g0_3_0)
);
  MUX2_LUT5 g0_3_1_cZ (
	.I0(g0_3_1_0),
	.I1(g0_3_1_1),
	.S0(serialClockCounter_fast[1]),
	.O(g0_3_1)
);
  MUX2_LUT5 g0_0_0_cZ (
	.I0(g0_0_0_0),
	.I1(g0_0_0_1),
	.S0(serialClockCounter_fast[1]),
	.O(g0_0_0)
);
  MUX2_LUT5 g0_0_1_cZ (
	.I0(g0_0_1_0),
	.I1(g0_0_1_1),
	.S0(serialClockCounter_fast[1]),
	.O(g0_0_1)
);
  MUX2_LUT5 g0_4_0_cZ (
	.I0(g0_4_0_0),
	.I1(g0_4_0_1),
	.S0(serialClockCounter_fast[1]),
	.O(g0_4_0)
);
  MUX2_LUT5 g0_4_1_cZ (
	.I0(g0_4_1_0),
	.I1(g0_4_1_1),
	.S0(serialClockCounter_fast[1]),
	.O(g0_4_1)
);
  MUX2_LUT5 g0_1_cZ (
	.I0(g0_1_0),
	.I1(g0_1_1),
	.S0(serialClockCounter_fast[1]),
	.O(g0_1)
);
  MUX2_LUT5 g0_2_cZ (
	.I0(g0_2_0),
	.I1(g0_2_1),
	.S0(serialClockCounter_fast[1]),
	.O(g0_2)
);
// @5:168
  MUX2_LUT6 g0 (
	.I0(g0_1),
	.I1(g0_2),
	.S0(serialClockCounter_fast[0]),
	.O(digit3_1_sqmuxa)
);
// @5:168
  MUX2_LUT6 g0_4 (
	.I0(g0_4_0),
	.I1(g0_4_1),
	.S0(serialClockCounter_fast[0]),
	.O(digit0_0_sqmuxa)
);
// @5:168
  MUX2_LUT6 g0_0 (
	.I0(g0_0_0),
	.I1(g0_0_1),
	.S0(serialClockCounter_fast[0]),
	.O(digit1_1_sqmuxa)
);
// @5:168
  MUX2_LUT6 g0_3 (
	.I0(g0_3_0),
	.I1(g0_3_1),
	.S0(serialClockCounter_fast[0]),
	.O(digit2_1_sqmuxa)
);
  MUX2_LUT6 G_24_N_4L5_cZ (
	.I0(G_24_N_4L5_0),
	.I1(G_24_N_4L5_1),
	.S0(G_24_N_3L3),
	.O(G_24_N_4L5)
);
// @5:168
  DFFE \digitalOutputPins_Z[3]  (
	.Q(digitalOutputPins_c[3]),
	.D(N_78_i),
	.CLK(clock_c),
	.CE(G_24)
);
// @5:168
  DFFE \digitalOutputPins_Z[2]  (
	.Q(digitalOutputPins_c[2]),
	.D(N_77_i_0),
	.CLK(clock_c),
	.CE(G_24)
);
// @5:168
  DFFE \digitalOutputPins_Z[1]  (
	.Q(digitalOutputPins_c[1]),
	.D(N_80_i),
	.CLK(clock_c),
	.CE(G_24)
);
// @5:168
  DFFE \digitalOutputPins_Z[0]  (
	.Q(digitalOutputPins_c[0]),
	.D(N_79_i_0),
	.CLK(clock_c),
	.CE(G_24)
);
// @5:168
  DFFE \segmentOutputPins_Z[7]  (
	.Q(segmentOutputPins_c[7]),
	.D(segmentOutputPins_34[7]),
	.CLK(clock_c),
	.CE(G_24)
);
// @5:168
  DFFE \segmentOutputPins_Z[6]  (
	.Q(segmentOutputPins_c[6]),
	.D(segmentOutputPins_34[6]),
	.CLK(clock_c),
	.CE(G_24)
);
// @5:168
  DFFE \segmentOutputPins_Z[5]  (
	.Q(segmentOutputPins_c[5]),
	.D(segmentOutputPins_34[5]),
	.CLK(clock_c),
	.CE(G_24)
);
// @5:168
  DFFE \segmentOutputPins_Z[4]  (
	.Q(segmentOutputPins_c[4]),
	.D(segmentOutputPins_34[4]),
	.CLK(clock_c),
	.CE(G_24)
);
// @5:168
  DFFE \segmentOutputPins_Z[3]  (
	.Q(segmentOutputPins_c[3]),
	.D(segmentOutputPins_34[3]),
	.CLK(clock_c),
	.CE(G_24)
);
// @5:168
  DFFE \segmentOutputPins_Z[2]  (
	.Q(segmentOutputPins_c[2]),
	.D(segmentOutputPins_34[2]),
	.CLK(clock_c),
	.CE(G_24)
);
// @5:168
  DFFE \segmentOutputPins_Z[1]  (
	.Q(segmentOutputPins_c[1]),
	.D(segmentOutputPins_34[1]),
	.CLK(clock_c),
	.CE(G_24)
);
// @5:168
  DFFE \segmentOutputPins_Z[0]  (
	.Q(segmentOutputPins_c[0]),
	.D(segmentOutputPins_34[0]),
	.CLK(clock_c),
	.CE(G_24)
);
  DFFS \serialReg_Z[1]  (
	.Q(serialReg[1]),
	.D(serialReg[0]),
	.CLK(serialClockIn_c),
	.SET(GND)
);
defparam \serialReg_Z[1] .INIT=1'b1;
  DFFS \serialReg_Z[0]  (
	.Q(serialReg[0]),
	.D(serialDataIn_c),
	.CLK(serialClockIn_c),
	.SET(GND)
);
defparam \serialReg_Z[0] .INIT=1'b1;
  DFF \serialReg_Z[9]  (
	.Q(serialReg[9]),
	.D(serialReg[8]),
	.CLK(serialClockIn_c)
);
defparam \serialReg_Z[9] .INIT=1'b0;
  DFF \serialReg_Z[8]  (
	.Q(serialReg[8]),
	.D(serialReg[7]),
	.CLK(serialClockIn_c)
);
defparam \serialReg_Z[8] .INIT=1'b0;
  DFF \serialReg_Z[7]  (
	.Q(serialReg[7]),
	.D(serialReg[6]),
	.CLK(serialClockIn_c)
);
defparam \serialReg_Z[7] .INIT=1'b0;
  DFFS \serialReg_Z[6]  (
	.Q(serialReg[6]),
	.D(serialReg[5]),
	.CLK(serialClockIn_c),
	.SET(GND)
);
defparam \serialReg_Z[6] .INIT=1'b1;
  DFFS \serialReg_Z[5]  (
	.Q(serialReg[5]),
	.D(serialReg[4]),
	.CLK(serialClockIn_c),
	.SET(GND)
);
defparam \serialReg_Z[5] .INIT=1'b1;
  DFFS \serialReg_Z[4]  (
	.Q(serialReg[4]),
	.D(serialReg[3]),
	.CLK(serialClockIn_c),
	.SET(GND)
);
defparam \serialReg_Z[4] .INIT=1'b1;
  DFFS \serialReg_Z[3]  (
	.Q(serialReg[3]),
	.D(serialReg[2]),
	.CLK(serialClockIn_c),
	.SET(GND)
);
defparam \serialReg_Z[3] .INIT=1'b1;
  DFFS \serialReg_Z[2]  (
	.Q(serialReg[2]),
	.D(serialReg[1]),
	.CLK(serialClockIn_c),
	.SET(GND)
);
defparam \serialReg_Z[2] .INIT=1'b1;
  DFFNSE \digit0_Z[0]  (
	.Q(digit0[0]),
	.D(serialReg[0]),
	.CLK(serialClockIn_c),
	.SET(GND),
	.CE(digit0_0_sqmuxa)
);
defparam \digit0_Z[0] .INIT=1'b1;
  DFFNE \digit0_Z[1]  (
	.Q(digit0[1]),
	.D(serialReg[1]),
	.CLK(serialClockIn_c),
	.CE(digit0_0_sqmuxa)
);
defparam \digit0_Z[1] .INIT=1'b0;
  DFFNE \digit0_Z[2]  (
	.Q(digit0[2]),
	.D(serialReg[2]),
	.CLK(serialClockIn_c),
	.CE(digit0_0_sqmuxa)
);
defparam \digit0_Z[2] .INIT=1'b0;
  DFFNE \digit0_Z[3]  (
	.Q(digit0[3]),
	.D(serialReg[3]),
	.CLK(serialClockIn_c),
	.CE(digit0_0_sqmuxa)
);
defparam \digit0_Z[3] .INIT=1'b0;
  DFFNE \digit0_Z[4]  (
	.Q(digit0[4]),
	.D(serialReg[4]),
	.CLK(serialClockIn_c),
	.CE(digit0_0_sqmuxa)
);
defparam \digit0_Z[4] .INIT=1'b0;
  DFFNSE \digit0_Z[5]  (
	.Q(digit0[5]),
	.D(serialReg[5]),
	.CLK(serialClockIn_c),
	.SET(GND),
	.CE(digit0_0_sqmuxa)
);
defparam \digit0_Z[5] .INIT=1'b1;
  DFFNE \digit0_Z[6]  (
	.Q(digit0[6]),
	.D(serialReg[6]),
	.CLK(serialClockIn_c),
	.CE(digit0_0_sqmuxa)
);
defparam \digit0_Z[6] .INIT=1'b0;
  DFFNE \digit0_Z[7]  (
	.Q(digit0[7]),
	.D(serialReg[7]),
	.CLK(serialClockIn_c),
	.CE(digit0_0_sqmuxa)
);
defparam \digit0_Z[7] .INIT=1'b0;
  DFFNSE \digit1_Z[0]  (
	.Q(digit1[0]),
	.D(serialReg[0]),
	.CLK(serialClockIn_c),
	.SET(GND),
	.CE(digit1_1_sqmuxa)
);
defparam \digit1_Z[0] .INIT=1'b1;
  DFFNSE \digit1_Z[1]  (
	.Q(digit1[1]),
	.D(serialReg[1]),
	.CLK(serialClockIn_c),
	.SET(GND),
	.CE(digit1_1_sqmuxa)
);
defparam \digit1_Z[1] .INIT=1'b1;
  DFFNE \digit1_Z[2]  (
	.Q(digit1[2]),
	.D(serialReg[2]),
	.CLK(serialClockIn_c),
	.CE(digit1_1_sqmuxa)
);
defparam \digit1_Z[2] .INIT=1'b0;
  DFFNSE \digit1_Z[3]  (
	.Q(digit1[3]),
	.D(serialReg[3]),
	.CLK(serialClockIn_c),
	.SET(GND),
	.CE(digit1_1_sqmuxa)
);
defparam \digit1_Z[3] .INIT=1'b1;
  DFFNSE \digit1_Z[4]  (
	.Q(digit1[4]),
	.D(serialReg[4]),
	.CLK(serialClockIn_c),
	.SET(GND),
	.CE(digit1_1_sqmuxa)
);
defparam \digit1_Z[4] .INIT=1'b1;
  DFFNE \digit1_Z[5]  (
	.Q(digit1[5]),
	.D(serialReg[5]),
	.CLK(serialClockIn_c),
	.CE(digit1_1_sqmuxa)
);
defparam \digit1_Z[5] .INIT=1'b0;
  DFFNSE \digit1_Z[6]  (
	.Q(digit1[6]),
	.D(serialReg[6]),
	.CLK(serialClockIn_c),
	.SET(GND),
	.CE(digit1_1_sqmuxa)
);
defparam \digit1_Z[6] .INIT=1'b1;
  DFFNE \digit1_Z[7]  (
	.Q(digit1[7]),
	.D(serialReg[7]),
	.CLK(serialClockIn_c),
	.CE(digit1_1_sqmuxa)
);
defparam \digit1_Z[7] .INIT=1'b0;
  DFFNSE \digit2_Z[0]  (
	.Q(digit2[0]),
	.D(serialReg[0]),
	.CLK(serialClockIn_c),
	.SET(GND),
	.CE(digit2_1_sqmuxa)
);
defparam \digit2_Z[0] .INIT=1'b1;
  DFFNSE \digit2_Z[1]  (
	.Q(digit2[1]),
	.D(serialReg[1]),
	.CLK(serialClockIn_c),
	.SET(GND),
	.CE(digit2_1_sqmuxa)
);
defparam \digit2_Z[1] .INIT=1'b1;
  DFFNE \digit2_Z[2]  (
	.Q(digit2[2]),
	.D(serialReg[2]),
	.CLK(serialClockIn_c),
	.CE(digit2_1_sqmuxa)
);
defparam \digit2_Z[2] .INIT=1'b0;
  DFFNE \digit2_Z[3]  (
	.Q(digit2[3]),
	.D(serialReg[3]),
	.CLK(serialClockIn_c),
	.CE(digit2_1_sqmuxa)
);
defparam \digit2_Z[3] .INIT=1'b0;
  DFFNSE \digit2_Z[4]  (
	.Q(digit2[4]),
	.D(serialReg[4]),
	.CLK(serialClockIn_c),
	.SET(GND),
	.CE(digit2_1_sqmuxa)
);
defparam \digit2_Z[4] .INIT=1'b1;
  DFFNSE \digit2_Z[5]  (
	.Q(digit2[5]),
	.D(serialReg[5]),
	.CLK(serialClockIn_c),
	.SET(GND),
	.CE(digit2_1_sqmuxa)
);
defparam \digit2_Z[5] .INIT=1'b1;
  DFFNSE \digit2_Z[6]  (
	.Q(digit2[6]),
	.D(serialReg[6]),
	.CLK(serialClockIn_c),
	.SET(GND),
	.CE(digit2_1_sqmuxa)
);
defparam \digit2_Z[6] .INIT=1'b1;
  DFFNE \digit2_Z[7]  (
	.Q(digit2[7]),
	.D(serialReg[7]),
	.CLK(serialClockIn_c),
	.CE(digit2_1_sqmuxa)
);
defparam \digit2_Z[7] .INIT=1'b0;
  DFFNSE \digit3_Z[0]  (
	.Q(digit3[0]),
	.D(serialReg[0]),
	.CLK(serialClockIn_c),
	.SET(GND),
	.CE(digit3_1_sqmuxa)
);
defparam \digit3_Z[0] .INIT=1'b1;
  DFFNE \digit3_Z[1]  (
	.Q(digit3[1]),
	.D(serialReg[1]),
	.CLK(serialClockIn_c),
	.CE(digit3_1_sqmuxa)
);
defparam \digit3_Z[1] .INIT=1'b0;
  DFFNSE \digit3_Z[2]  (
	.Q(digit3[2]),
	.D(serialReg[2]),
	.CLK(serialClockIn_c),
	.SET(GND),
	.CE(digit3_1_sqmuxa)
);
defparam \digit3_Z[2] .INIT=1'b1;
  DFFNE \digit3_Z[3]  (
	.Q(digit3[3]),
	.D(serialReg[3]),
	.CLK(serialClockIn_c),
	.CE(digit3_1_sqmuxa)
);
defparam \digit3_Z[3] .INIT=1'b0;
  DFFNE \digit3_Z[4]  (
	.Q(digit3[4]),
	.D(serialReg[4]),
	.CLK(serialClockIn_c),
	.CE(digit3_1_sqmuxa)
);
defparam \digit3_Z[4] .INIT=1'b0;
  DFFNSE \digit3_Z[5]  (
	.Q(digit3[5]),
	.D(serialReg[5]),
	.CLK(serialClockIn_c),
	.SET(GND),
	.CE(digit3_1_sqmuxa)
);
defparam \digit3_Z[5] .INIT=1'b1;
  DFFNSE \digit3_Z[6]  (
	.Q(digit3[6]),
	.D(serialReg[6]),
	.CLK(serialClockIn_c),
	.SET(GND),
	.CE(digit3_1_sqmuxa)
);
defparam \digit3_Z[6] .INIT=1'b1;
  DFFNE \digit3_Z[7]  (
	.Q(digit3[7]),
	.D(serialReg[7]),
	.CLK(serialClockIn_c),
	.CE(digit3_1_sqmuxa)
);
defparam \digit3_Z[7] .INIT=1'b0;
  DFFR \clockCounter_Z[0]  (
	.Q(clockCounter[0]),
	.D(N_24_0),
	.CLK(clock_c),
	.RESET(clockCounter9_i)
);
defparam \clockCounter_Z[0] .INIT=1'b0;
  DFFR \clockCounter_Z[1]  (
	.Q(clockCounter[1]),
	.D(N_26_0),
	.CLK(clock_c),
	.RESET(clockCounter9_i)
);
defparam \clockCounter_Z[1] .INIT=1'b0;
  DFFR \clockCounter_Z[2]  (
	.Q(clockCounter[2]),
	.D(N_28_0),
	.CLK(clock_c),
	.RESET(clockCounter9_i)
);
defparam \clockCounter_Z[2] .INIT=1'b0;
  DFFR \clockCounter_Z[3]  (
	.Q(clockCounter[3]),
	.D(N_30_0),
	.CLK(clock_c),
	.RESET(clockCounter9_i)
);
defparam \clockCounter_Z[3] .INIT=1'b0;
  DFFR \clockCounter_Z[4]  (
	.Q(clockCounter[4]),
	.D(N_32_0),
	.CLK(clock_c),
	.RESET(clockCounter9_i)
);
defparam \clockCounter_Z[4] .INIT=1'b0;
  DFFR \clockCounter_Z[5]  (
	.Q(clockCounter[5]),
	.D(N_34_0),
	.CLK(clock_c),
	.RESET(clockCounter9_i)
);
defparam \clockCounter_Z[5] .INIT=1'b0;
  DFFR \clockCounter_Z[6]  (
	.Q(clockCounter[6]),
	.D(N_36_0),
	.CLK(clock_c),
	.RESET(clockCounter9_i)
);
defparam \clockCounter_Z[6] .INIT=1'b0;
  DFFR \clockCounter_Z[7]  (
	.Q(clockCounter[7]),
	.D(N_38_0),
	.CLK(clock_c),
	.RESET(clockCounter9_i)
);
defparam \clockCounter_Z[7] .INIT=1'b0;
  DFFR \clockCounter_Z[8]  (
	.Q(clockCounter[8]),
	.D(N_40_0),
	.CLK(clock_c),
	.RESET(clockCounter9_i)
);
defparam \clockCounter_Z[8] .INIT=1'b0;
  DFFR \clockCounter_Z[9]  (
	.Q(clockCounter[9]),
	.D(N_42_0),
	.CLK(clock_c),
	.RESET(clockCounter9_i)
);
defparam \clockCounter_Z[9] .INIT=1'b0;
  DFFR \clockCounter_Z[10]  (
	.Q(clockCounter[10]),
	.D(N_44_0),
	.CLK(clock_c),
	.RESET(clockCounter9_i)
);
defparam \clockCounter_Z[10] .INIT=1'b0;
  DFFR \clockCounter_Z[11]  (
	.Q(clockCounter[11]),
	.D(N_46_0),
	.CLK(clock_c),
	.RESET(clockCounter9_i)
);
defparam \clockCounter_Z[11] .INIT=1'b0;
  DFFR \clockCounter_Z[12]  (
	.Q(clockCounter[12]),
	.D(N_48_0),
	.CLK(clock_c),
	.RESET(clockCounter9_i)
);
defparam \clockCounter_Z[12] .INIT=1'b0;
  DFFR \clockCounter_Z[13]  (
	.Q(clockCounter[13]),
	.D(N_50_0),
	.CLK(clock_c),
	.RESET(clockCounter9_i)
);
defparam \clockCounter_Z[13] .INIT=1'b0;
  DFFR \clockCounter_Z[14]  (
	.Q(clockCounter[14]),
	.D(N_52_0),
	.CLK(clock_c),
	.RESET(clockCounter9_i)
);
defparam \clockCounter_Z[14] .INIT=1'b0;
  DFFR \clockCounter_Z[15]  (
	.Q(clockCounter[15]),
	.D(N_54_0),
	.CLK(clock_c),
	.RESET(clockCounter9_i)
);
defparam \clockCounter_Z[15] .INIT=1'b0;
  DFFR \clockCounter_Z[16]  (
	.Q(clockCounter[16]),
	.D(N_56_0),
	.CLK(clock_c),
	.RESET(clockCounter9_i)
);
defparam \clockCounter_Z[16] .INIT=1'b0;
  DFFR \serialClockCounter[0]  (
	.Q(CO0),
	.D(N_14_0),
	.CLK(serialClockIn_c),
	.RESET(serialClockCounter11_i)
);
defparam \serialClockCounter[0] .INIT=1'b0;
  DFFR \serialClockCounter_fast_Z[0]  (
	.Q(serialClockCounter_fast[0]),
	.D(N_14_fast_0),
	.CLK(serialClockIn_c),
	.RESET(serialClockCounter11_i)
);
defparam \serialClockCounter_fast_Z[0] .INIT=1'b0;
  DFFRE \serialClockCounter_Z[3]  (
	.Q(serialClockCounter[3]),
	.D(N_20_0),
	.CLK(serialClockIn_c),
	.RESET(serialClockCounter11_i),
	.CE(CO1)
);
defparam \serialClockCounter_Z[3] .INIT=1'b0;
  DFFRE \serialClockCounter_Z[1]  (
	.Q(serialClockCounter[1]),
	.D(N_16_0),
	.CLK(serialClockIn_c),
	.RESET(serialClockCounter11_i),
	.CE(CO0)
);
defparam \serialClockCounter_Z[1] .INIT=1'b0;
  DFFRE \serialClockCounter_fast_Z[1]  (
	.Q(serialClockCounter_fast[1]),
	.D(N_16_fast_0),
	.CLK(serialClockIn_c),
	.RESET(serialClockCounter11_i),
	.CE(CO0)
);
defparam \serialClockCounter_fast_Z[1] .INIT=1'b0;
  DFFRE \serialClockCounter_fast_Z[3]  (
	.Q(serialClockCounter_fast[3]),
	.D(N_20_fast_0),
	.CLK(serialClockIn_c),
	.RESET(serialClockCounter11_i),
	.CE(CO1)
);
defparam \serialClockCounter_fast_Z[3] .INIT=1'b0;
  DFFRE \serialClockCounter_Z[2]  (
	.Q(serialClockCounter[2]),
	.D(N_18_0),
	.CLK(serialClockIn_c),
	.RESET(serialClockCounter11_i),
	.CE(CO0)
);
defparam \serialClockCounter_Z[2] .INIT=1'b0;
  DFFRE \serialClockCounter_fast_Z[2]  (
	.Q(serialClockCounter_fast[2]),
	.D(N_18_fast_0),
	.CLK(serialClockIn_c),
	.RESET(serialClockCounter11_i),
	.CE(CO0)
);
defparam \serialClockCounter_fast_Z[2] .INIT=1'b0;
// @5:3
  IBUF clock_ibuf (
	.O(clock_c),
	.I(clock)
);
// @5:4
  IBUF serialClockIn_ibuf (
	.O(serialClockIn_c),
	.I(serialClockIn)
);
// @5:5
  IBUF serialDataIn_ibuf (
	.O(serialDataIn_c),
	.I(serialDataIn)
);
// @5:8
  OBUF serialClockLedOutR_obuf (
	.O(serialClockLedOutR),
	.I(digit024_i)
);
// @5:9
  OBUF serialClockLedOutB_obuf (
	.O(serialClockLedOutB),
	.I(serialClockIn_i_1_iso)
);
// @5:10
  OBUF serialClockLedOutG_obuf (
	.O(serialClockLedOutG),
	.I(serialDataIn_c_i)
);
// @5:11
  OBUF \digitalOutputPins_obuf[0]  (
	.O(digitalOutputPins[0]),
	.I(digitalOutputPins_c[0])
);
// @5:11
  OBUF \digitalOutputPins_obuf[1]  (
	.O(digitalOutputPins[1]),
	.I(digitalOutputPins_c[1])
);
// @5:11
  OBUF \digitalOutputPins_obuf[2]  (
	.O(digitalOutputPins[2]),
	.I(digitalOutputPins_c[2])
);
// @5:11
  OBUF \digitalOutputPins_obuf[3]  (
	.O(digitalOutputPins[3]),
	.I(digitalOutputPins_c[3])
);
// @5:16
  OBUF \segmentOutputPins_obuf[0]  (
	.O(segmentOutputPins[0]),
	.I(segmentOutputPins_c[0])
);
// @5:16
  OBUF \segmentOutputPins_obuf[1]  (
	.O(segmentOutputPins[1]),
	.I(segmentOutputPins_c[1])
);
// @5:16
  OBUF \segmentOutputPins_obuf[2]  (
	.O(segmentOutputPins[2]),
	.I(segmentOutputPins_c[2])
);
// @5:16
  OBUF \segmentOutputPins_obuf[3]  (
	.O(segmentOutputPins[3]),
	.I(segmentOutputPins_c[3])
);
// @5:16
  OBUF \segmentOutputPins_obuf[4]  (
	.O(segmentOutputPins[4]),
	.I(segmentOutputPins_c[4])
);
// @5:16
  OBUF \segmentOutputPins_obuf[5]  (
	.O(segmentOutputPins[5]),
	.I(segmentOutputPins_c[5])
);
// @5:16
  OBUF \segmentOutputPins_obuf[6]  (
	.O(segmentOutputPins[6]),
	.I(segmentOutputPins_c[6])
);
// @5:16
  OBUF \segmentOutputPins_obuf[7]  (
	.O(segmentOutputPins[7]),
	.I(segmentOutputPins_c[7])
);
// @5:85
  ALU clockCounter_2_s_16_0 (
	.CIN(clockCounter_2_cry_15),
	.I0(clockCounter[16]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_s_16_0_COUT),
	.SUM(N_56_0)
);
defparam clockCounter_2_s_16_0.ALU_MODE=0;
// @5:85
  ALU clockCounter_2_cry_15_0 (
	.CIN(clockCounter_2_cry_14),
	.I0(clockCounter[15]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_15),
	.SUM(N_54_0)
);
defparam clockCounter_2_cry_15_0.ALU_MODE=0;
// @5:85
  ALU clockCounter_2_cry_14_0 (
	.CIN(clockCounter_2_cry_13),
	.I0(clockCounter[14]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_14),
	.SUM(N_52_0)
);
defparam clockCounter_2_cry_14_0.ALU_MODE=0;
// @5:85
  ALU clockCounter_2_cry_13_0 (
	.CIN(clockCounter_2_cry_12),
	.I0(clockCounter[13]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_13),
	.SUM(N_50_0)
);
defparam clockCounter_2_cry_13_0.ALU_MODE=0;
// @5:85
  ALU clockCounter_2_cry_12_0 (
	.CIN(clockCounter_2_cry_11),
	.I0(clockCounter[12]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_12),
	.SUM(N_48_0)
);
defparam clockCounter_2_cry_12_0.ALU_MODE=0;
// @5:85
  ALU clockCounter_2_cry_11_0 (
	.CIN(clockCounter_2_cry_10),
	.I0(clockCounter[11]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_11),
	.SUM(N_46_0)
);
defparam clockCounter_2_cry_11_0.ALU_MODE=0;
// @5:85
  ALU clockCounter_2_cry_10_0 (
	.CIN(clockCounter_2_cry_9),
	.I0(clockCounter[10]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_10),
	.SUM(N_44_0)
);
defparam clockCounter_2_cry_10_0.ALU_MODE=0;
// @5:85
  ALU clockCounter_2_cry_9_0 (
	.CIN(clockCounter_2_cry_8),
	.I0(clockCounter[9]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_9),
	.SUM(N_42_0)
);
defparam clockCounter_2_cry_9_0.ALU_MODE=0;
// @5:85
  ALU clockCounter_2_cry_8_0 (
	.CIN(clockCounter_2_cry_7),
	.I0(clockCounter[8]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_8),
	.SUM(N_40_0)
);
defparam clockCounter_2_cry_8_0.ALU_MODE=0;
// @5:85
  ALU clockCounter_2_cry_7_0 (
	.CIN(clockCounter_2_cry_6),
	.I0(clockCounter[7]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_7),
	.SUM(N_38_0)
);
defparam clockCounter_2_cry_7_0.ALU_MODE=0;
// @5:85
  ALU clockCounter_2_cry_6_0 (
	.CIN(clockCounter_2_cry_5),
	.I0(clockCounter[6]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_6),
	.SUM(N_36_0)
);
defparam clockCounter_2_cry_6_0.ALU_MODE=0;
// @5:85
  ALU clockCounter_2_cry_5_0 (
	.CIN(clockCounter_2_cry_4),
	.I0(clockCounter[5]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_5),
	.SUM(N_34_0)
);
defparam clockCounter_2_cry_5_0.ALU_MODE=0;
// @5:85
  ALU clockCounter_2_cry_4_0 (
	.CIN(clockCounter_2_cry_3),
	.I0(clockCounter[4]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_4),
	.SUM(N_32_0)
);
defparam clockCounter_2_cry_4_0.ALU_MODE=0;
// @5:85
  ALU clockCounter_2_cry_3_0 (
	.CIN(clockCounter_2_cry_2),
	.I0(clockCounter[3]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_3),
	.SUM(N_30_0)
);
defparam clockCounter_2_cry_3_0.ALU_MODE=0;
// @5:85
  ALU clockCounter_2_cry_2_0 (
	.CIN(clockCounter_2_cry_1),
	.I0(clockCounter[2]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_2),
	.SUM(N_28_0)
);
defparam clockCounter_2_cry_2_0.ALU_MODE=0;
// @5:85
  ALU clockCounter_2_cry_1_0 (
	.CIN(clockCounter_2_cry_0),
	.I0(clockCounter[1]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_1),
	.SUM(N_26_0)
);
defparam clockCounter_2_cry_1_0.ALU_MODE=0;
// @5:85
  ALU clockCounter_2_cry_0_0 (
	.CIN(VCC),
	.I0(clockCounter[0]),
	.I1(GND),
	.I3(GND),
	.COUT(clockCounter_2_cry_0),
	.SUM(N_24_0)
);
defparam clockCounter_2_cry_0_0.ALU_MODE=0;
  GND GND_cZ (
	.G(GND)
);
  VCC VCC_cZ (
	.V(VCC)
);
endmodule /* FourDigitLedController */

