//Copyright (C)2014-2020 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.3.01Beta
//Part Number: GW1N-LV1QN48C6/I5
//Created Time: Sun 06 14 11:56:51 2020

IO_LOC "clock" 35;
IO_LOC "serialClockIn" 19;
IO_PORT "serialClockIn" PULL_MODE=NONE;
IO_LOC "serialDataIn" 13;
IO_PORT "serialDataIn" PULL_MODE=NONE;
IO_LOC "serialClockLedOutR" 18;
IO_PORT "serialClockLedOutR" PULL_MODE=NONE;
IO_LOC "serialClockLedOutB" 17;
IO_PORT "serialClockLedOutB" PULL_MODE=NONE;
IO_LOC "serialClockLedOutG" 16;
IO_PORT "serialClockLedOutG" PULL_MODE=NONE;
IO_LOC "digitalOutputPins[0]" 21;
IO_LOC "digitalOutputPins[1]" 22;
IO_LOC "digitalOutputPins[2]" 23;
IO_LOC "digitalOutputPins[3]" 24;
IO_LOC "segmentOutputPins[0]" 38;
IO_LOC "segmentOutputPins[1]" 39;
IO_LOC "segmentOutputPins[2]" 40;
IO_LOC "segmentOutputPins[3]" 41;
IO_LOC "segmentOutputPins[4]" 42;
IO_LOC "segmentOutputPins[5]" 43;
IO_LOC "segmentOutputPins[6]" 44;
IO_LOC "segmentOutputPins[7]" 45;
