//Copyright (C)2014-2020 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.3.01Beta
//Part Number: GW1N-LV1QN48C6/I5
//Created Time: Sun 06 07 23:10:50 2020

IO_LOC "clock" 35;
IO_LOC "serialClockLedOut" 17;
IO_PORT "serialClockLedOut" PULL_MODE=NONE;
IO_LOC "digitalOutputPins[0]" 21;
IO_PORT "digitalOutputPins[0]" PULL_MODE=NONE;
IO_LOC "digitalOutputPins[1]" 22;
IO_PORT "digitalOutputPins[1]" PULL_MODE=NONE;
IO_LOC "digitalOutputPins[2]" 23;
IO_PORT "digitalOutputPins[2]" PULL_MODE=NONE;
IO_LOC "digitalOutputPins[3]" 24;
IO_PORT "digitalOutputPins[3]" PULL_MODE=NONE;
IO_LOC "segmentOutputPins[0]" 38;
IO_PORT "segmentOutputPins[0]" PULL_MODE=NONE;
IO_LOC "segmentOutputPins[1]" 39;
IO_PORT "segmentOutputPins[1]" PULL_MODE=NONE;
IO_LOC "segmentOutputPins[2]" 40;
IO_PORT "segmentOutputPins[2]" PULL_MODE=NONE;
IO_LOC "segmentOutputPins[3]" 41;
IO_PORT "segmentOutputPins[3]" PULL_MODE=NONE;
IO_LOC "segmentOutputPins[4]" 42;
IO_PORT "segmentOutputPins[4]" PULL_MODE=NONE;
IO_LOC "segmentOutputPins[5]" 43;
IO_PORT "segmentOutputPins[5]" PULL_MODE=NONE;
IO_LOC "segmentOutputPins[6]" 44;
IO_PORT "segmentOutputPins[6]" PULL_MODE=NONE;
IO_LOC "segmentOutputPins[7]" 45;
IO_PORT "segmentOutputPins[7]" PULL_MODE=NONE;
